node-red/data/flows.json
[{"id":"22b23614.75c2ca","type":"tab","label":"dbHandler","disabled":false,"info":""},{"id":"c55192f2.07661","type":"tab","label":"inspectLogs","disabled":false,"info":"**Tab:** Inspect logs"},{"id":"65ca72ac.afdd4c","type":"tab","label":"monitor","disabled":false,"info":"**Tab:** Monitor\n"},{"id":"c5669537.d71768","type":"tab","label":"advanced","disabled":false,"info":"**Tab:** Advanced"},{"id":"3a013bf6.47ece4","type":"tab","label":"debug","disabled":false,"info":"**Tab:** Debug"},{"id":"7bfda10d.9b513","type":"tab","label":"setup","disabled":false,"info":""},{"id":"ac9f7f6.a3d058","type":"tab","label":"about","disabled":false,"info":"About tab of the dashboard"},{"id":"9755adca.c3eda","type":"subflow","name":"setAnswerTopic","info":"Use `msg.group` to give a specific name to the flow property. Sets the `flow.<msg.group>.topic` of the parent flow to match the query topic.","category":"","in":[{"x":60,"y":80,"wires":[{"id":"16e37238.7e311e"}]}],"out":[{"x":300,"y":80,"wires":[{"id":"16e37238.7e311e","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"570a93d6.30b89c","type":"subflow","name":"multiline text","info":"The **msg.payload** must be a long string. It can contain carriage returns. If there is overflow, scrollbars are added.\n\n**msg.title** sets the title of the text box.","category":"","in":[{"x":40,"y":80,"wires":[{"id":"f9f8960f.de5578"}]}],"out":[],"env":[],"color":"#DDAA99"},{"id":"da87a890.491058","type":"subflow","name":"formatChartData","info":"","category":"","in":[{"x":40,"y":40,"wires":[{"id":"b7d31fcd.a97d1"}]}],"out":[{"x":300,"y":40,"wires":[{"id":"b7d31fcd.a97d1","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"a4a8ab96.7ec2b8","type":"subflow","name":"debug","info":"Handles an array of objects containing debug information.\n\nThe input debug object should have properties:\n- id: the device id\n- type: the message type\n- message: the debug message\n","category":"","in":[{"x":60,"y":80,"wires":[{"id":"3c54a614.ca1c0a"}]}],"out":[{"x":300,"y":100,"wires":[{"id":"3c54a614.ca1c0a","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"f0a56b0b.73e6d8","type":"subflow","name":"sendMQTT","info":"","category":"","in":[{"x":60,"y":80,"wires":[{"id":"fa2ad176.49d83"}]}],"out":[{"x":460,"y":80,"wires":[{"id":"a1b7afb1.4a99d","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"17db255d.26490b","type":"subflow","name":"localDate","info":"","category":"","in":[],"out":[],"env":[],"color":"#DDAA99"},{"id":"1013011c.82c3ef","type":"mqtt-broker","z":"","name":"mosquitto","broker":"mosquitto","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"2a22f749.6390c8","type":"ui_tab","z":"","name":"Advanced","icon":"settings","order":4,"disabled":false,"hidden":false},{"id":"3b241c9d.d7d464","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#ffe111","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#dba100","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#dba100","edited":true},"page-titlebar-backgroundColor":{"value":"#dba100","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#ffc628","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#dba100","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"4fc05906.0c6828","type":"influxdb","z":"","hostname":"influxdb","port":"8086","protocol":"http","database":"bioreactors","name":"","usetls":false,"tls":""},{"id":"371271e4.ff0abe","type":"ui_group","z":"","name":"Query device","tab":"2a22f749.6390c8","order":4,"disp":true,"width":"6","collapse":false},{"id":"3d2b6406.9676ac","type":"ui_group","z":"","name":"Current parameters","tab":"2a22f749.6390c8","order":3,"disp":true,"width":"6","collapse":false},{"id":"60f23d23.b883c4","type":"ui_group","z":"","name":"Select device","tab":"2a22f749.6390c8","order":1,"disp":true,"width":"6","collapse":false},{"id":"af83a5be.9d0fc8","type":"influxdb","z":"","hostname":"influxdb","port":"8086","protocol":"http","database":"bioreactors_hour","name":"","usetls":false,"tls":""},{"id":"b233375f.9317a8","type":"influxdb","z":"","hostname":"influxdb","port":"8086","protocol":"http","database":"bioreactors_day","name":"","usetls":false,"tls":""},{"id":"10a222b2.f71fcd","type":"ui_tab","z":"","name":"Inspect logs","icon":"show_chart","order":2,"disabled":false,"hidden":false},{"id":"ee4e2792.421568","type":"ui_group","z":"","name":"Settings","tab":"10a222b2.f71fcd","order":1,"disp":true,"width":"6","collapse":false},{"id":"6f05f1c7.a48d4","type":"ui_group","z":"","name":"Current measurements","tab":"10a222b2.f71fcd","order":4,"disp":true,"width":"6","collapse":false},{"id":"1eebb73a.aa59f9","type":"ui_group","z":"","name":"Charts","tab":"10a222b2.f71fcd","order":3,"disp":true,"width":6,"collapse":false},{"id":"8b00ba39.a95b78","type":"influxdb","z":"","hostname":"influxdb","port":"8086","protocol":"http","database":"bioreactors_minute","name":"","usetls":false,"tls":""},{"id":"84bd1221.0e2e9","type":"ui_group","z":"","name":"Update time","tab":"2a22f749.6390c8","order":2,"disp":true,"width":"6","collapse":false},{"id":"a333e021.04ce9","type":"ui_tab","z":"","name":"Debug","icon":"bug_report","order":5,"disabled":false,"hidden":false},{"id":"72ca987d.48da18","type":"ui_group","z":"","name":"Last 100 debug messages","tab":"a333e021.04ce9","order":2,"disp":true,"width":"16","collapse":false},{"id":"b3afbbe5.0b0968","type":"ui_group","z":"","name":"Devices list","tab":"a333e021.04ce9","order":1,"disp":true,"width":"6","collapse":false},{"id":"928467c8.cff208","type":"ui_spacer","name":"spacer","group":"72ca987d.48da18","order":1,"width":6,"height":1},{"id":"bfd3064e.e70d08","type":"ui_spacer","name":"spacer","group":"72ca987d.48da18","order":4,"width":6,"height":1},{"id":"fa593ef3.d39e1","type":"ui_group","z":"","name":"Pick date and time","tab":"10a222b2.f71fcd","order":2,"disp":true,"width":"6","collapse":false},{"id":"c493d9dd.1bcef8","type":"influxdb","z":"","hostname":"influxdb","port":"8086","protocol":"http","database":"bioreactors_debug","name":"","usetls":false,"tls":""},{"id":"84ccd3e0.7ba41","type":"ui_tab","z":"","name":"Setup","icon":"create","order":6,"disabled":false,"hidden":false},{"id":"29212e53.bd7442","type":"ui_group","z":"","name":"Select device","tab":"84ccd3e0.7ba41","order":1,"disp":true,"width":"6","collapse":false},{"id":"b88a5374.e89ea","type":"ui_tab","z":"","name":"Monitor","icon":"fa-sliders","order":3,"disabled":false,"hidden":false},{"id":"c4d5ba76.93c688","type":"ui_group","z":"","name":"Status","tab":"b88a5374.e89ea","order":1,"disp":true,"width":"6","collapse":false},{"id":"5aa76f14.2950b","type":"ui_group","z":"","name":"Weight calibration","tab":"84ccd3e0.7ba41","order":2,"disp":true,"width":"6","collapse":false},{"id":"8a6ffe70.27a12","type":"ui_group","z":"","name":"Weight test","tab":"84ccd3e0.7ba41","order":3,"disp":true,"width":"6","collapse":false},{"id":"b1aa30f1.2f54e","type":"ui_spacer","name":"spacer","group":"5aa76f14.2950b","order":1,"width":1,"height":1},{"id":"b5201ba9.5d4fe8","type":"ui_spacer","name":"spacer","group":"5aa76f14.2950b","order":3,"width":1,"height":1},{"id":"d5b161a2.a0dfc","type":"ui_spacer","name":"spacer","group":"8a6ffe70.27a12","order":1,"width":2,"height":1},{"id":"ddc34b7a.c63ec8","type":"ui_spacer","name":"spacer","group":"8a6ffe70.27a12","order":3,"width":2,"height":1},{"id":"8ce99e7.c3e626","type":"ui_group","z":"","name":"test","tab":"b88a5374.e89ea","order":2,"disp":true,"width":"6","collapse":false},{"id":"c90119c0.750858","type":"ui_spacer","name":"spacer","group":"fa593ef3.d39e1","order":4,"width":6,"height":1},{"id":"88843b98.98dd18","type":"ui_tab","z":"","name":"About","icon":"help_outline","order":7,"disabled":false,"hidden":false},{"id":"2774473f.b18b48","type":"ui_group","z":"","name":"hidden_group","tab":"cc1c7588.2ab038","order":1,"disp":false,"width":"6","collapse":false},{"id":"cc1c7588.2ab038","type":"ui_tab","z":"","name":"Header extensions","icon":"home","order":1,"disabled":false,"hidden":false},{"id":"1b5d511d.35445f","type":"ui_group","z":"","name":"Date and time","tab":"88843b98.98dd18","order":2,"disp":true,"width":"6","collapse":false},{"id":"d5f3e2f3.d8e67","type":"ui_group","z":"","name":"Issues","tab":"88843b98.98dd18","order":3,"disp":true,"width":"6","collapse":false},{"id":"cacae2d6.edd3e","type":"ui_group","z":"","name":"Info","tab":"88843b98.98dd18","order":1,"disp":true,"width":"6","collapse":false},{"id":"efcdc8c5.89cd48","type":"ui_group","z":"","name":"Sync databases","tab":"2a22f749.6390c8","order":5,"disp":true,"width":"6","collapse":false},{"id":"289ab9a3.5a13b6","type":"ui_spacer","name":"spacer","group":"60f23d23.b883c4","order":3,"width":6,"height":1},{"id":"2057b316.6ca0ac","type":"ui_spacer","name":"spacer","group":"60f23d23.b883c4","order":4,"width":2,"height":1},{"id":"e2aee5d4.e52728","type":"ui_spacer","name":"spacer","group":"60f23d23.b883c4","order":6,"width":2,"height":1},{"id":"6e5d5d59.da7854","type":"ui_spacer","name":"spacer","group":"84bd1221.0e2e9","order":2,"width":2,"height":1},{"id":"3ac4ef6d.335e1","type":"ui_spacer","name":"spacer","group":"84bd1221.0e2e9","order":4,"width":2,"height":1},{"id":"dd512313.b425a","type":"ui_spacer","name":"spacer","group":"84bd1221.0e2e9","order":5,"width":6,"height":1},{"id":"2aac919b.47af9e","type":"ui_spacer","name":"spacer","group":"efcdc8c5.89cd48","order":2,"width":1,"height":1},{"id":"5b7c9159.a733b","type":"ui_spacer","name":"spacer","group":"efcdc8c5.89cd48","order":4,"width":1,"height":1},{"id":"6276e35b.2b6c9c","type":"mqtt out","z":"c5669537.d71768","name":"","topic":"","qos":"","retain":"","broker":"1013011c.82c3ef","x":590,"y":1320,"wires":[]},{"id":"8e0837cc.c1f918","type":"mqtt in","z":"c5669537.d71768","name":"","topic":"bioreactor/a/#","qos":"2","datatype":"auto","broker":"1013011c.82c3ef","x":130,"y":1420,"wires":[["622228dd.0d92f8"]]},{"id":"96240e96.f99f4","type":"ui_text_input","z":"c5669537.d71768","name":"command","label":"Command","tooltip":"","group":"371271e4.ff0abe","order":1,"width":0,"height":0,"passthru":false,"mode":"text","delay":"0","topic":"","x":120,"y":1320,"wires":[["94cbc66c.76d958"]]},{"id":"16e37238.7e311e","type":"function","z":"9755adca.c3eda","name":"setAnswerTopic","func":"let array = msg.topic.split('/');\narray[1]= 'a';\nlet answerTopic = array.join('/');\n\nflow.set(`$parent.${msg.group}.topic`, answerTopic);\n\nmsg.answerTopic = answerTopic;\n\nmsg.payload = '';\nreturn msg;","outputs":1,"noerr":0,"x":180,"y":80,"wires":[[]]},{"id":"f9f8960f.de5578","type":"ui_template","z":"570a93d6.30b89c","group":"371271e4.ff0abe","name":"Multiline text","order":2,"width":0,"height":0,"format":"<style>\n    #mylog {\n        min-height: 300px;\n        padding: 0;\n        white-space: pre;\n    }\n</style>\n\n<div><h3 ng-bind=\"msg.title\"></h3></div>\n\n<div id=\"mylog\" ng-bind=\"msg.payload\" contenteditable=\"false\">\n    <!-- payload will go here -->\n</div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":150,"y":80,"wires":[[]]},{"id":"622228dd.0d92f8","type":"switch","z":"c5669537.d71768","name":"filter topic","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"queryDevice.topic","vt":"flow"}],"checkall":"true","repair":false,"outputs":1,"x":280,"y":1420,"wires":[["3871b0fe.61af9","6ac88092.5ae6"]]},{"id":"3871b0fe.61af9","type":"debug","z":"c5669537.d71768","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":450,"y":1400,"wires":[]},{"id":"21ca9a59.9693d6","type":"subflow:9755adca.c3eda","z":"c5669537.d71768","name":"","env":[],"x":420,"y":1320,"wires":[["6276e35b.2b6c9c","93c8ec3a.c35c7","4be83ccf.552a94"]]},{"id":"93c8ec3a.c35c7","type":"debug","z":"c5669537.d71768","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"topic","targetType":"msg","x":620,"y":1280,"wires":[]},{"id":"94cbc66c.76d958","type":"function","z":"c5669537.d71768","name":"setTopic","func":"let cmd = msg.payload;\n\nlet id = flow.get('currentDevice');\n\nif (cmd !== '') {\n    msg.topic = `bioreactor/q/${id}/${cmd}`;\n}\n\nmsg.group = \"queryDevice\";\n\nreturn msg;","outputs":1,"noerr":0,"x":260,"y":1320,"wires":[["21ca9a59.9693d6"]]},{"id":"fe8a5701.0971d8","type":"mqtt out","z":"22b23614.75c2ca","name":"","topic":"","qos":"","retain":"","broker":"1013011c.82c3ef","x":590,"y":360,"wires":[]},{"id":"fdd6394.b294ac8","type":"mqtt in","z":"22b23614.75c2ca","name":"","topic":"bioreactor/a/#","qos":"2","datatype":"auto","broker":"1013011c.82c3ef","x":90,"y":500,"wires":[["e85a9e1f.065c9"]]},{"id":"ea5ea00.d6a596","type":"debug","z":"22b23614.75c2ca","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":750,"y":500,"wires":[]},{"id":"e9885fd1.f821a","type":"function","z":"22b23614.75c2ca","name":"parseMultilog","func":"const LegoinoUtil = global.get('LegoinoUtil');\n\nlet parts = msg.topic.split('/');\nmsg.deviceId = parts[2];\n\n// checking that topic is answer to command queries\nif (parts.length !== 4) return;\n\nlet data = LegoinoUtil.parseMultilog(msg.payload, {\n    kind: 'OpenBio',\n    parameterLabel: true,\n    parameterInfo: false,\n    parametersArray: false,\n    flatten: true\n  });\n\nmsg.payload = data;\n\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":500,"wires":[["f23c470d.dad1f8","1cef8f82.9e01f"]]},{"id":"e85a9e1f.065c9","type":"switch","z":"22b23614.75c2ca","name":"filter topic","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"dbHandler.topic","vt":"flow"}],"checkall":"true","repair":false,"outputs":1,"x":240,"y":500,"wires":[["e9885fd1.f821a"]]},{"id":"ae061b5f.fbae68","type":"debug","z":"22b23614.75c2ca","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"topic","targetType":"msg","x":420,"y":320,"wires":[]},{"id":"ac8535d6.06a1e8","type":"subflow:9755adca.c3eda","z":"22b23614.75c2ca","name":"","x":440,"y":360,"wires":[["fe8a5701.0971d8"]]},{"id":"5370f8a4.943d88","type":"function","z":"22b23614.75c2ca","name":"setTopic","func":"let startLog;\n\n\nif(msg.payload[0]) {\n    startLog = msg.payload[0].max + 1;\n} else {\n    startLog = 0;\n}\n\n\n\n\nmsg.topic = `bioreactor/q/${msg.deviceId}/lm${startLog}`;\n\nmsg.group = \"dbHandler\";\nreturn msg;\n","outputs":1,"noerr":0,"x":260,"y":320,"wires":[["ac8535d6.06a1e8","ae061b5f.fbae68"]]},{"id":"e8db3f7a.654f6","type":"inject","z":"22b23614.75c2ca","name":"query last log","topic":"","payload":"","payloadType":"date","repeat":"10","crontab":"","once":true,"onceDelay":"0.2","x":120,"y":200,"wires":[["b4d7493a.c21da8"]]},{"id":"b393ac06.23f5f","type":"influxdb out","z":"22b23614.75c2ca","influxdb":"4fc05906.0c6828","name":"","measurement":"","precision":"","retentionPolicy":"","x":780,"y":540,"wires":[]},{"id":"f23c470d.dad1f8","type":"function","z":"22b23614.75c2ca","name":"formatDbEntry","func":"msg.measurement = `bio_${msg.deviceId}`;\n\n// if (msg.payload.length === 0) {\n//     return msg;\n// }\n\nlet logNumber = msg.payload.length;\nlet startId = msg.payload[0].id;\nlet endId = msg.payload[logNumber - 1].id;\n\nmsg.payload = msg.payload.map(entry => formatEntry(entry));\n\nmsg.debug = {\n    id: msg.deviceId,\n    message: `Adding ${msg.payload.length} log(s) to ${msg.measurement}, IDs: ${startId} - ${endId}`,\n    type: 'InfluxDB',\n}\n\nreturn msg;\n\nfunction formatEntry(entry) {\n    // multiplying by 1e6 to match influx timestamp format\n    entry.time = entry.epoch*1e6;\n    delete entry.epoch;\n    delete entry.deviceId;\n    return [entry];\n}","outputs":1,"noerr":0,"x":540,"y":460,"wires":[["ea5ea00.d6a596","b393ac06.23f5f","fa1c7f56.eb2ca","d51b9245.d3058"]]},{"id":"6ac88092.5ae6","type":"change","z":"c5669537.d71768","name":"","rules":[{"t":"set","p":"title","pt":"msg","to":"Answer","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":430,"y":1440,"wires":[["5c5917cc.840a68"]]},{"id":"5c5917cc.840a68","type":"ui_template","z":"c5669537.d71768","group":"371271e4.ff0abe","name":"Multiline text","order":3,"width":0,"height":0,"format":"<style>\n    #mylog {\n        padding: 0;\n        white-space: pre;\n        min-height: 300px;\n    }\n</style>\n\n<div><h3 ng-bind=\"msg.title\"></h3></div>\n\n<div id=\"mylog\" ng-bind=\"msg.payload\" contenteditable=\"false\">\n    <!-- payload will go here -->\n</div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":590,"y":1440,"wires":[[]]},{"id":"2cdd2643.caf20a","type":"comment","z":"c5669537.d71768","name":"\"Query device\" group (Advanced)","info":"","x":190,"y":1260,"wires":[]},{"id":"399c67ed.f0d1a8","type":"influxdb in","z":"22b23614.75c2ca","influxdb":"4fc05906.0c6828","name":"","query":"","rawOutput":false,"precision":"","retentionPolicy":"","x":620,"y":240,"wires":[["a0bf4b47.940f28","5370f8a4.943d88"]]},{"id":"cc931c36.d959e","type":"function","z":"22b23614.75c2ca","name":"setQuery","func":"msg.deviceId = msg.payload;\n\nmsg.query = `select max(\"id\") from \"bio_${msg.deviceId}\"`;\n\nreturn msg;\n","outputs":1,"noerr":0,"x":580,"y":200,"wires":[["399c67ed.f0d1a8","26ee51a0.d7e11e"]]},{"id":"b4d7493a.c21da8","type":"change","z":"22b23614.75c2ca","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"deviceList.connected","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":300,"y":200,"wires":[["f810f7f3.501fd8"]]},{"id":"f810f7f3.501fd8","type":"split","z":"22b23614.75c2ca","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":450,"y":200,"wires":[["cc931c36.d959e"]]},{"id":"26ee51a0.d7e11e","type":"debug","z":"22b23614.75c2ca","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":730,"y":140,"wires":[]},{"id":"a0bf4b47.940f28","type":"debug","z":"22b23614.75c2ca","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":810,"y":180,"wires":[]},{"id":"fa1c7f56.eb2ca","type":"debug","z":"22b23614.75c2ca","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"debug.message","targetType":"msg","x":780,"y":460,"wires":[]},{"id":"c0ff1f96.d2b8b","type":"comment","z":"22b23614.75c2ca","name":"Format logs and store in correct db measurement","info":"","x":200,"y":460,"wires":[]},{"id":"d34282e9.f37ce","type":"comment","z":"22b23614.75c2ca","name":"Send MQTT query","info":"","x":110,"y":260,"wires":[]},{"id":"1bbcf7ef.020598","type":"comment","z":"22b23614.75c2ca","name":"Create message stream for all connected devices","info":"","x":200,"y":160,"wires":[]},{"id":"1cef8f82.9e01f","type":"function","z":"22b23614.75c2ca","name":"checkEpoch","func":"let deviceTime = msg.payload[msg.payload.length - 1].epoch;\n\nmsg.timeDiff = Date.now() - deviceTime;\n\nlet date = new Date(deviceTime);\n\ndate = date.toDateString().split(' ').slice(1, 4).join(' ') + ', ' + date.toLocaleTimeString();\n\n\nlet currentDate = new Date(Date.now());\n\ncurrentDate = currentDate.toDateString().split(' ').slice(1, 4).join(' ') + ', ' + currentDate.toLocaleTimeString();\n\nmsg.topic='Time error';\nmsg.payload = `Device with id ${msg.deviceId} had time ${date} at ${currentDate}`;\n\nlet lastErrorTime = flow.get('timeCheck.lastErrorTime');\n\n// this allows to limit the popups rate to max one every hour\nif (lastErrorTime === undefined || Date.now() - lastErrorTime > 36e5) {\n    flow.set('timeCheck.lastErrorTime', Date.now());\n} else {\n    msg.timeDiff = 0;\n}\n\nreturn msg;\n","outputs":1,"noerr":0,"x":210,"y":640,"wires":[["f47a9c90.27753","f0d70b8c.0ac8e8"]]},{"id":"1c5049a0.0a5c96","type":"debug","z":"22b23614.75c2ca","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"deviceTime","targetType":"msg","x":700,"y":620,"wires":[]},{"id":"658abe75.3f387","type":"ui_toast","z":"22b23614.75c2ca","position":"dialog","displayTime":"5","highlight":"#968300","sendall":true,"outputs":1,"ok":"OK","cancel":"","raw":false,"topic":"","name":"popup","x":690,"y":660,"wires":[[]]},{"id":"7e7604be.4caa9c","type":"comment","z":"22b23614.75c2ca","name":"Check that device time is correct","info":"","x":270,"y":680,"wires":[]},{"id":"8d8c8c15.05cd8","type":"rbe","z":"22b23614.75c2ca","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":530,"y":640,"wires":[["1c5049a0.0a5c96","658abe75.3f387","a94df3b.da1f61"]]},{"id":"896dbfec.0943b","type":"ui_dropdown","z":"c55192f2.07661","name":"","label":"Select device","tooltip":"","place":"Select option","group":"ee4e2792.421568","order":1,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"","value":"","type":"str"}],"payload":"","topic":"","x":440,"y":280,"wires":[["f282bfc1.1ab75","e3ed9314.292aa","433dcdce.4ed824"]]},{"id":"9b699401.789fa8","type":"change","z":"c55192f2.07661","name":"","rules":[{"t":"set","p":"options","pt":"msg","to":"deviceList.db","tot":"global"},{"t":"set","p":"payload","pt":"msg","to":"deviceList.db[0]","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":260,"y":280,"wires":[["896dbfec.0943b"]]},{"id":"f282bfc1.1ab75","type":"change","z":"c55192f2.07661","name":"","rules":[{"t":"set","p":"currentDevice","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":640,"y":240,"wires":[["1189b9a9.813246"]]},{"id":"e3ed9314.292aa","type":"debug","z":"c55192f2.07661","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":630,"y":280,"wires":[]},{"id":"8d4f6d4f.c525e","type":"comment","z":"c55192f2.07661","name":"\"Settings\" group (Inspect logs)","info":"","x":160,"y":180,"wires":[]},{"id":"5eb284c6.25074c","type":"ui_gauge","z":"c55192f2.07661","name":"currentWeight","group":"6f05f1c7.a48d4","order":1,"width":3,"height":3,"gtype":"gage","title":"Weight","label":"","format":"{{value}}g","min":0,"max":"2000","colors":["#16a900","#ecdc00","#d70000"],"seg1":"","seg2":"","x":760,"y":940,"wires":[]},{"id":"eaac0d4.76721f","type":"influxdb in","z":"c55192f2.07661","influxdb":"4fc05906.0c6828","name":"","query":"","rawOutput":false,"precision":"","retentionPolicy":"","x":360,"y":900,"wires":[["61a9cf7c.cf0e5","31b2c371.f161cc","4fc15b1.10897a4"]]},{"id":"4c2cbbb0.c8d9a4","type":"inject","z":"c55192f2.07661","name":"","topic":"","payload":"","payloadType":"date","repeat":"10","crontab":"","once":true,"onceDelay":0.1,"x":130,"y":860,"wires":[["71835682.736068"]]},{"id":"71835682.736068","type":"function","z":"c55192f2.07661","name":"set query","func":"let id = flow.get(\"currentDevice\");\n\nmsg.query = `select last(grWeight) as grWeight, last(liquidTemp) as liquidTemp from bio_${id}`;\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":860,"wires":[["eaac0d4.76721f"]]},{"id":"61a9cf7c.cf0e5","type":"debug","z":"c55192f2.07661","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":610,"y":900,"wires":[]},{"id":"31b2c371.f161cc","type":"change","z":"c55192f2.07661","name":"weight","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload[0].grWeight","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":590,"y":940,"wires":[["5eb284c6.25074c"]]},{"id":"b6cf23fa.1086e","type":"comment","z":"c55192f2.07661","name":"\"Current measurements\" group (Inspect logs)","info":"","x":210,"y":820,"wires":[]},{"id":"77742543.c67bbc","type":"ui_gauge","z":"c55192f2.07661","name":"currentLiquidTemp","group":"6f05f1c7.a48d4","order":2,"width":3,"height":3,"gtype":"gage","title":"Liquid temperature","label":"","format":"{{value}}°C","min":0,"max":"50","colors":["#000dff","#ff00ee","#ff0008"],"seg1":"","seg2":"","x":770,"y":980,"wires":[]},{"id":"4fc15b1.10897a4","type":"change","z":"c55192f2.07661","name":"liquidTemp","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload[0].liquidTemp","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":590,"y":980,"wires":[["77742543.c67bbc"]]},{"id":"d3f8655d.594b28","type":"comment","z":"c55192f2.07661","name":"Fetching charts data","info":"","x":150,"y":1780,"wires":[]},{"id":"82e0dfd4.c1e2b","type":"ui_chart","z":"c55192f2.07661","name":"weight chart","group":"1eebb73a.aa59f9","order":3,"width":0,"height":0,"label":"Weight [g]","chartType":"line","legend":"false","xformat":"auto","interpolate":"linear","nodata":"No valid data received","dot":false,"ymin":"","ymax":"","removeOlder":"1","removeOlderPoints":"20","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":550,"y":2320,"wires":[[]]},{"id":"f864c319.3c09c","type":"debug","z":"c55192f2.07661","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":550,"y":2280,"wires":[]},{"id":"f0eff83.f9b4508","type":"influxdb in","z":"c55192f2.07661","influxdb":"4fc05906.0c6828","name":"bioreactors","query":"","rawOutput":false,"precision":"","retentionPolicy":"","x":730,"y":1720,"wires":[["8041d33.b5b5f3"]]},{"id":"fbe555d1.d65818","type":"function","z":"c55192f2.07661","name":"set query","func":"let id = flow.get(\"currentDevice\");\n\nlet timeScale = flow.get(\"charts.timeScale\");\n\nlet state = flow.get(\"charts.state\");\nlet date = flow.get(\"charts.date\");\nlet pastData = flow.get(\"charts.pastData\");\nlet startTime;\nlet endTime;\n\n// calculate start and end times for the charts\nif (state === \"current\") {\n    endTime = Date.now()*1e6;\n    startTime = endTime - timeScaleToMillis(timeScale)*1e6;\n} else if (state === \"past\") {\n    // this is just a hack to convert epoch with current time to epoch rounded to midnight\n    let endRoundedDay = new Date(pastData.end.day - Date.now() % 86400000 + new Date().getTimezoneOffset() * 60000);\n    endTime = (endRoundedDay.getTime() + pastData.end.time)*1e6;\n    \n    let startRoundedDay = new Date(pastData.start.day - Date.now() % 86400000 + new Date().getTimezoneOffset() * 60000);\n    startTime = (startRoundedDay.getTime() + pastData.start.time)*1e6;\n}\n\n// chose what DB to query based on time scale\nmsg.db = 'day';\n\nif ('1h' === timeScale) {\n    msg.db = 'raw';\n} else if ('8h' === timeScale) {\n    msg.db = 'minute';\n} else if (['1d', '1w'].includes(timeScale)) {\n    msg.db = 'hour';\n}\n\nlet fields = '';\nif (msg.db === 'raw') {\n    fields = 'grWeight, liquidTemp, pidTemp, targetTemp';\n} else {\n    fields = 'median_grWeight as grWeight, median_liquidTemp as liquidTemp, median_pidTemp as pidTemp, median_targetTemp as targetTemp';\n}\n\nmsg.query = `select ${fields} from bio_${id} where time < ${endTime} and time > ${startTime}`;\n\nmsg.chartsDate = {\n    start: startTime/1e6,\n    end: endTime/1e6\n}\n\nreturn msg;\n\n// this function converts time scale into epoch in milliseconds\nfunction timeScaleToMillis(timeScale) {\n    let number = timeScale.replace(/\\D/g,'');\n    let letter = timeScale.replace(/\\d/g,'');\n    \n    let factor;\n    switch (letter) {\n        case ('h'):\n            factor = 36e5;\n            break;\n        case ('d'):\n            factor = 36e5*24;\n            break;\n        case ('w'):\n            factor = 36e5*24*7;\n            break;\n        default:\n            break;\n    }\n    \n    return number*factor;\n}","outputs":1,"noerr":0,"x":320,"y":1820,"wires":[["4ab369e5.9ce6a8","cccd2899.69c448","311594b1.42dc2c","7b5746a6.0d7a18","619f6675.e22168"]]},{"id":"a61ede83.deb11","type":"inject","z":"c55192f2.07661","name":"10s repeat","topic":"","payload":"","payloadType":"date","repeat":"10","crontab":"","once":true,"onceDelay":0.1,"x":150,"y":1820,"wires":[["fbe555d1.d65818"]]},{"id":"4ab369e5.9ce6a8","type":"switch","z":"c55192f2.07661","name":"","property":"db","propertyType":"msg","rules":[{"t":"eq","v":"raw","vt":"str"},{"t":"eq","v":"minute","vt":"str"},{"t":"eq","v":"hour","vt":"str"},{"t":"eq","v":"day","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":530,"y":1780,"wires":[["f0eff83.f9b4508"],["56e251b1.f8341"],["ff3b93a4.0d3f"],["66c6360.657eccc"]]},{"id":"56e251b1.f8341","type":"influxdb in","z":"c55192f2.07661","influxdb":"8b00ba39.a95b78","name":"bioreactors_minute","query":"","rawOutput":false,"precision":"","retentionPolicy":"","x":710,"y":1760,"wires":[["8041d33.b5b5f3"]]},{"id":"ff3b93a4.0d3f","type":"influxdb in","z":"c55192f2.07661","influxdb":"af83a5be.9d0fc8","name":"bioreactors_hour","query":"","rawOutput":false,"precision":"","retentionPolicy":"","x":710,"y":1800,"wires":[["8041d33.b5b5f3"]]},{"id":"66c6360.657eccc","type":"influxdb in","z":"c55192f2.07661","influxdb":"b233375f.9317a8","name":"bioreactors_day","query":"","rawOutput":false,"precision":"","retentionPolicy":"","x":720,"y":1840,"wires":[["8041d33.b5b5f3"]]},{"id":"cccd2899.69c448","type":"debug","z":"c55192f2.07661","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"query","targetType":"msg","x":510,"y":1720,"wires":[]},{"id":"8041d33.b5b5f3","type":"link out","z":"c55192f2.07661","name":"chartsData","links":["a4980f5b.37dc1","a868cbba.243cb8"],"x":875,"y":1780,"wires":[]},{"id":"a4980f5b.37dc1","type":"link in","z":"c55192f2.07661","name":"chartsData","links":["8041d33.b5b5f3"],"x":75,"y":2320,"wires":[["90cb9a77.337538"]]},{"id":"90cb9a77.337538","type":"function","z":"c55192f2.07661","name":"set series","func":"msg.series = ['grWeight'];\n\nreturn msg;","outputs":1,"noerr":0,"x":180,"y":2320,"wires":[["612a62e8.7d433c"]]},{"id":"b7d31fcd.a97d1","type":"function","z":"da87a890.491058","name":"formatChartData","func":"let chart = [{\n    \"series\": msg.series,\n    \"data\": [],\n    \"labels\": msg.series,\n}];\n\nfor (let serie of msg.series) {\n    addSerie(chart, msg.payload, serie);\n}\n\nmsg.payload = chart;\n\nreturn msg;\n\nfunction addSerie(chart, data, field) {\n    let serie = [];\n    for (let i = 0; i < data.length; i++) {\n        let entry = data[i];\n        let point = { \"x\": entry.time, \"y\": entry[field]};\n        serie.push(point);\n        if (i === data.length - 1) {\n            chart[0].data.push(serie);\n        }\n    }\n}","outputs":1,"noerr":0,"x":170,"y":40,"wires":[[]]},{"id":"612a62e8.7d433c","type":"subflow:da87a890.491058","z":"c55192f2.07661","name":"","x":350,"y":2320,"wires":[["f864c319.3c09c","82e0dfd4.c1e2b"]]},{"id":"99be40a7.6e8b8","type":"ui_chart","z":"c55192f2.07661","name":"liquidTemp chart","group":"1eebb73a.aa59f9","order":4,"width":0,"height":0,"label":"Liquid temperature [°C]","chartType":"line","legend":"true","xformat":"auto","interpolate":"linear","nodata":"No valid data received","dot":false,"ymin":"","ymax":"","removeOlder":"1","removeOlderPoints":"20","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":560,"y":2440,"wires":[[]]},{"id":"ed30e3a6.3c395","type":"debug","z":"c55192f2.07661","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":550,"y":2400,"wires":[]},{"id":"a868cbba.243cb8","type":"link in","z":"c55192f2.07661","name":"chartsData","links":["8041d33.b5b5f3"],"x":75,"y":2440,"wires":[["625f924e.acd20c"]]},{"id":"625f924e.acd20c","type":"function","z":"c55192f2.07661","name":"set series","func":"let showPidData = flow.get('charts.showPidData');\n\nif (showPidData) {\n    msg.series = ['liquidTemp', 'targetTemp', 'pidTemp'];\n} else {\n    msg.series = ['liquidTemp', 'targetTemp'];\n}\nreturn msg;","outputs":1,"noerr":0,"x":180,"y":2440,"wires":[["b297febf.ac0b8"]]},{"id":"b297febf.ac0b8","type":"subflow:da87a890.491058","z":"c55192f2.07661","name":"","x":350,"y":2440,"wires":[["ed30e3a6.3c395","99be40a7.6e8b8"]]},{"id":"21aaef33.110d2","type":"comment","z":"c55192f2.07661","name":"Weight chart","info":"","x":130,"y":2280,"wires":[]},{"id":"85b285b7.098c08","type":"comment","z":"c55192f2.07661","name":"Liquid temperature chart","info":"","x":170,"y":2400,"wires":[]},{"id":"ceac863e.3749d8","type":"comment","z":"c55192f2.07661","name":"\"Charts\" group (Inspect logs)","info":"","x":160,"y":2240,"wires":[]},{"id":"7cc24d6e.1b9af4","type":"ui_switch","z":"c55192f2.07661","name":"","label":"Show PID data","tooltip":"","group":"1eebb73a.aa59f9","order":5,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":460,"y":1540,"wires":[["42415db5.ae3d84","89131278.d6f2c"]]},{"id":"42415db5.ae3d84","type":"change","z":"c55192f2.07661","name":"","rules":[{"t":"set","p":"charts.showPidData","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":680,"y":1540,"wires":[["2b44d4fe.09717c"]]},{"id":"c52a17f7.8d06d8","type":"change","z":"c55192f2.07661","name":"set default","rules":[{"t":"set","p":"payload","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":290,"y":1540,"wires":[["7cc24d6e.1b9af4"]]},{"id":"70095def.549ef4","type":"ui_ui_control","z":"c55192f2.07661","name":"","events":"all","x":120,"y":1540,"wires":[["c52a17f7.8d06d8"]]},{"id":"89131278.d6f2c","type":"debug","z":"c55192f2.07661","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":630,"y":1500,"wires":[]},{"id":"1fb449ce.3d4196","type":"inject","z":"c55192f2.07661","name":"Test input","topic":"","payload":"1h","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":1580,"wires":[["c52a17f7.8d06d8"]]},{"id":"d4b9106e.1834a","type":"comment","z":"c55192f2.07661","name":"\"Pick date and time\" group (Inspect Logs)","info":"","x":200,"y":1020,"wires":[]},{"id":"2f5ecb43.de6d54","type":"mqtt out","z":"c5669537.d71768","name":"","topic":"","qos":"","retain":"","broker":"1013011c.82c3ef","x":610,"y":560,"wires":[]},{"id":"8e28e80c.d5df78","type":"mqtt in","z":"c5669537.d71768","name":"","topic":"bioreactor/a/#","qos":"2","datatype":"auto","broker":"1013011c.82c3ef","x":110,"y":620,"wires":[["20b33904.69e266"]]},{"id":"20b33904.69e266","type":"switch","z":"c5669537.d71768","name":"filter topic","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"updateTime.topic","vt":"flow"}],"checkall":"true","repair":false,"outputs":1,"x":260,"y":620,"wires":[["ecf7d50.9616428"]]},{"id":"2a70fd0a.ac8582","type":"debug","z":"c5669537.d71768","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":630,"y":660,"wires":[]},{"id":"8510f720.215bf8","type":"subflow:9755adca.c3eda","z":"c5669537.d71768","name":"","env":[],"x":440,"y":560,"wires":[["2f5ecb43.de6d54","60f32f9f.c5f1"]]},{"id":"60f32f9f.c5f1","type":"debug","z":"c5669537.d71768","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"topic","targetType":"msg","x":620,"y":520,"wires":[]},{"id":"36d691a7.33a0fe","type":"function","z":"c5669537.d71768","name":"setTopic","func":"let cmd = msg.payload;\n\nlet id = flow.get('currentDevice');\n\nif (cmd !== '') {\n    msg.topic = `bioreactor/q/${id}/ue${Math.round(Date.now()/1000)}`;\n}\n\n// this property has to be unique within the flow, it is used by setAnswerTopic.\nmsg.group = \"updateTime\";\n\nreturn msg;","outputs":1,"noerr":0,"x":280,"y":560,"wires":[["8510f720.215bf8"]]},{"id":"f2b18749.357348","type":"comment","z":"c5669537.d71768","name":"\"Update time\" group (Advanced)","info":"","x":170,"y":480,"wires":[]},{"id":"1a5bd5bd.5ee6da","type":"ui_button","z":"c5669537.d71768","name":"","group":"84bd1221.0e2e9","order":3,"width":2,"height":1,"passthru":false,"label":"Update time","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":110,"y":560,"wires":[["36d691a7.33a0fe"]]},{"id":"b3468eb7.a609d","type":"ui_text","z":"c5669537.d71768","group":"84bd1221.0e2e9","order":1,"width":0,"height":0,"name":"text","label":"Click on the button below to manually update the time of the selected device.","format":"{{msg.payload}}","layout":"row-spread","x":90,"y":520,"wires":[]},{"id":"ecf7d50.9616428","type":"function","z":"c5669537.d71768","name":"formatPopup","func":"// from arduino epoch to js (s to ms)\nlet newTime = new Date(msg.payload*1000);\n\nnewTime = newTime.toDateString().split(' ').slice(1, 4).join(' ') + ', ' + newTime.toLocaleTimeString();\n\n\nlet id = flow.get('currentDevice');\n\nmsg.topic=`Time updated for device ${id}`;\nmsg.payload = `New time: ${newTime}`;\n\n\nmsg.debug = {\n    id,\n    message: `Time updated manually`,\n    type: '',\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":620,"wires":[["2a70fd0a.ac8582","6e0e97a7.a06698","5f48fde1.60c454"]]},{"id":"6e0e97a7.a06698","type":"ui_toast","z":"c5669537.d71768","position":"dialog","displayTime":"5","highlight":"#968300","sendall":true,"outputs":1,"ok":"OK","cancel":"","raw":false,"topic":"","name":"popup","x":590,"y":620,"wires":[[]]},{"id":"14fea4e9.69fe4b","type":"ui_dropdown","z":"c5669537.d71768","name":"","label":"","tooltip":"","place":"Select option","group":"60f23d23.b883c4","order":1,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"","value":"","type":"str"}],"payload":"","topic":"","x":430,"y":200,"wires":[["9bad2535.86fa08","54ad25b6.307d6c","c8507a5.ae52788","d343cc7d.5cd29"]]},{"id":"15c2d2df.4ff6fd","type":"change","z":"c5669537.d71768","name":"","rules":[{"t":"set","p":"options","pt":"msg","to":"deviceList.connected","tot":"global"},{"t":"set","p":"payload","pt":"msg","to":"deviceList.connected[0]","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":260,"y":200,"wires":[["14fea4e9.69fe4b"]]},{"id":"9bad2535.86fa08","type":"change","z":"c5669537.d71768","name":"","rules":[{"t":"set","p":"currentDevice","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":650,"y":200,"wires":[[]]},{"id":"54ad25b6.307d6c","type":"debug","z":"c5669537.d71768","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":620,"y":240,"wires":[]},{"id":"1c77c315.ce634d","type":"comment","z":"c5669537.d71768","name":"\"Select device\" group (Advanced)","info":"","x":170,"y":160,"wires":[]},{"id":"c8507a5.ae52788","type":"ui_text","z":"c5669537.d71768","group":"60f23d23.b883c4","order":2,"width":0,"height":0,"name":"","label":"Selected device ID: ","format":"{{msg.payload}}","layout":"row-left","x":650,"y":160,"wires":[]},{"id":"68a398f1.3a04d8","type":"inject","z":"c5669537.d71768","name":"send command","topic":"","payload":"uc","payloadType":"str","repeat":"1","crontab":"","once":true,"onceDelay":0.1,"x":150,"y":1640,"wires":[["6728fcd8.c4b034"]]},{"id":"1411f6e1.5aa579","type":"mqtt out","z":"c5669537.d71768","name":"","topic":"","qos":"","retain":"","broker":"1013011c.82c3ef","x":810,"y":1640,"wires":[]},{"id":"6b12b22f.d6b20c","type":"mqtt in","z":"c5669537.d71768","name":"","topic":"bioreactor/a/#","qos":"2","datatype":"auto","broker":"1013011c.82c3ef","x":130,"y":1780,"wires":[["ba57c4c9.227f18"]]},{"id":"924641da.f82ed","type":"debug","z":"c5669537.d71768","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":590,"y":1940,"wires":[]},{"id":"4c7f816b.099ca","type":"function","z":"c5669537.d71768","name":"parser","func":"const LegoinoUtil = global.get('LegoinoUtil');\n\nlet parts = msg.topic.split('/');\n\n// checking that topic is answer to command queries\nif (parts.length !== 4) return;\n\nlet data = LegoinoUtil.parseCurrentSettings(msg.payload, {\n    kind: 'OpenBio',\n    parameterLabel: true,\n    parameterInfo: true,\n    parametersArray: true,\n    flatten: false\n  });\n\n\n data.parametersArray.map(param => {\n     param.name = `${param.label} - ${param.name}`;\n });\n\nmsg.payload = data;\n\n\n\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":1780,"wires":[["924641da.f82ed","c4638bb5.d70558","c9d46d4b.466dd","3657dc0f.f1b154","33f078a0.8510e8"]]},{"id":"ba57c4c9.227f18","type":"switch","z":"c5669537.d71768","name":"filter topic","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"currentSettings.topic","vt":"flow"}],"checkall":"true","repair":false,"outputs":1,"x":280,"y":1780,"wires":[["4c7f816b.099ca","dc1aeae1.2d2768"]]},{"id":"45ea8568.3f8d6c","type":"debug","z":"c5669537.d71768","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"topic","targetType":"msg","x":640,"y":1600,"wires":[]},{"id":"ca3ba66b.42f468","type":"subflow:9755adca.c3eda","z":"c5669537.d71768","name":"","env":[],"x":660,"y":1640,"wires":[["1411f6e1.5aa579"]]},{"id":"2298c71.c316838","type":"function","z":"c5669537.d71768","name":"setTopic","func":"let cmd = msg.payload;\n\nlet id = flow.get('currentDevice');\n\nif (cmd !== '') {\n    msg.topic = `bioreactor/q/${id}/${cmd}`;\n}\n\nmsg.group = \"currentSettings\";\nreturn msg;","outputs":1,"noerr":0,"x":480,"y":1640,"wires":[["ca3ba66b.42f468","45ea8568.3f8d6c"]]},{"id":"1c87bce2.a49f93","type":"ui_table","z":"c5669537.d71768","group":"3d2b6406.9676ac","name":"","order":4,"width":6,"height":10,"columns":[{"field":"name","title":"Parameter","width":"55%","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"value","title":"Value","width":"23%","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"unit","title":"Unit","width":"22%","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}}],"outputs":0,"cts":false,"x":730,"y":1880,"wires":[]},{"id":"c4638bb5.d70558","type":"change","z":"c5669537.d71768","name":"set payload","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.parametersArray","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":590,"y":1880,"wires":[["1c87bce2.a49f93"]]},{"id":"944bd776.d33a68","type":"ui_text","z":"c5669537.d71768","group":"3d2b6406.9676ac","order":2,"width":3,"height":1,"name":"","label":"Device ID","format":"{{msg.payload}}","layout":"col-center","x":740,"y":1800,"wires":[]},{"id":"f817ad0e.97837","type":"ui_text","z":"c5669537.d71768","group":"3d2b6406.9676ac","order":3,"width":3,"height":1,"name":"","label":"Device code","format":"{{msg.payload}}","layout":"col-center","x":750,"y":1840,"wires":[]},{"id":"c9d46d4b.466dd","type":"change","z":"c5669537.d71768","name":"set payload","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.deviceCode","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":590,"y":1840,"wires":[["f817ad0e.97837"]]},{"id":"3657dc0f.f1b154","type":"change","z":"c5669537.d71768","name":"set payload","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.deviceId","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":590,"y":1800,"wires":[["944bd776.d33a68"]]},{"id":"af71b2a2.3586a","type":"comment","z":"c5669537.d71768","name":"\"Current parameters\" group (Advanced)","info":"","x":190,"y":1560,"wires":[]},{"id":"43894dcd.d2f024","type":"comment","z":"c5669537.d71768","name":"Automatic time update","info":"","x":140,"y":780,"wires":[]},{"id":"47438f50.e4cf3","type":"change","z":"c5669537.d71768","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"deviceList.connected","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":500,"y":980,"wires":[["1c3f8346.f5c82d"]]},{"id":"1c3f8346.f5c82d","type":"split","z":"c5669537.d71768","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":650,"y":980,"wires":[["f3bc8ad2.a32b08"]]},{"id":"c4c02eb2.0a14e","type":"inject","z":"c5669537.d71768","name":"send command","topic":"","payload":"uc","payloadType":"str","repeat":"600","crontab":"","once":true,"onceDelay":"0.5","x":150,"y":980,"wires":[["6548e45.8b2a31c"]]},{"id":"e0dc0da0.af5ef","type":"ui_switch","z":"c5669537.d71768","name":"switch","label":"Automatic time update","tooltip":"","group":"84bd1221.0e2e9","order":7,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"open","onvalueType":"str","onicon":"","oncolor":"","offvalue":"close","offvalueType":"str","officon":"","offcolor":"","x":150,"y":940,"wires":[["1f996bf3.039d34","7914964b.22d6e8"]]},{"id":"6548e45.8b2a31c","type":"gate","z":"c5669537.d71768","name":"","controlTopic":"control","defaultState":"open","openCmd":"open","closeCmd":"close","toggleCmd":"toggle","defaultCmd":"default","persist":false,"x":350,"y":980,"wires":[["47438f50.e4cf3"]]},{"id":"1f996bf3.039d34","type":"change","z":"c5669537.d71768","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"control","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":310,"y":940,"wires":[["6548e45.8b2a31c"]]},{"id":"5ea31ea6.22e5d","type":"mqtt out","z":"c5669537.d71768","name":"","topic":"","qos":"","retain":"","broker":"1013011c.82c3ef","x":610,"y":1060,"wires":[]},{"id":"e24a7ff1.c1a7b","type":"subflow:9755adca.c3eda","z":"c5669537.d71768","name":"","env":[],"x":440,"y":1080,"wires":[["5ea31ea6.22e5d","78bdcb89.312b54"]]},{"id":"78bdcb89.312b54","type":"debug","z":"c5669537.d71768","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"topic","targetType":"msg","x":600,"y":1120,"wires":[]},{"id":"f3bc8ad2.a32b08","type":"function","z":"c5669537.d71768","name":"setTopic","func":"let id = msg.payload;\n\nmsg.topic = `bioreactor/q/${id}/ue${Math.round(Date.now()/1000)}`;\n\nmsg.group = \"updateTime.auto\";\n\nreturn msg;","outputs":1,"noerr":0,"x":280,"y":1080,"wires":[["e24a7ff1.c1a7b"]]},{"id":"108de205.af223e","type":"ui_table","z":"3a013bf6.47ece4","group":"b3afbbe5.0b0968","name":"DB devices","order":2,"width":3,"height":4,"columns":[{"field":"id","title":"DB","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}}],"outputs":0,"cts":false,"x":470,"y":120,"wires":[]},{"id":"58d49f3c.ecc59","type":"function","z":"3a013bf6.47ece4","name":"formatData","func":"let dbDevices = global.get(\"deviceList.db\");\n\nmsg.payload = dbDevices.map(id => ({id}));\n\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":120,"wires":[["108de205.af223e","39fefae5.fa9946"]]},{"id":"39fefae5.fa9946","type":"debug","z":"3a013bf6.47ece4","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":470,"y":80,"wires":[]},{"id":"6a3817c.67ff7e8","type":"inject","z":"3a013bf6.47ece4","name":"","topic":"","payload":"","payloadType":"date","repeat":"30","crontab":"","once":true,"onceDelay":0.1,"x":130,"y":140,"wires":[["58d49f3c.ecc59","454ca1b8.45e5c"]]},{"id":"381730fa.88a22","type":"ui_table","z":"3a013bf6.47ece4","group":"b3afbbe5.0b0968","name":"Connected devices","order":3,"width":3,"height":4,"columns":[{"field":"id","title":"Connected","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}}],"outputs":0,"cts":false,"x":490,"y":160,"wires":[]},{"id":"454ca1b8.45e5c","type":"function","z":"3a013bf6.47ece4","name":"formatData","func":"let dbDevices = global.get(\"deviceList.connected\");\n\nmsg.payload = dbDevices.map(id => ({id}));\n\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":160,"wires":[["381730fa.88a22","b6802ed.5bf22d"]]},{"id":"b6802ed.5bf22d","type":"debug","z":"3a013bf6.47ece4","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":470,"y":200,"wires":[]},{"id":"e5b6d047.8dff","type":"ui_text","z":"3a013bf6.47ece4","group":"b3afbbe5.0b0968","order":1,"width":0,"height":0,"name":"text","label":"Listing all the devices IDs. DB refers to all the devices that have ever been connected to the GUI.","format":"","layout":"row-spread","x":450,"y":40,"wires":[]},{"id":"e8209bda.cd7af8","type":"comment","z":"3a013bf6.47ece4","name":"\"Devices list\" group (Debug)","info":"","x":180,"y":80,"wires":[]},{"id":"3c54a614.ca1c0a","type":"function","z":"a4a8ab96.7ec2b8","name":"debug","func":"msg.payload = undefined;\nmsg.query = undefined;\n\nmsg.debug.time = Date.now()*1e6;\nmsg.debug.flow = flow.get(\"$parent.flowName\");\n\n// to log to influxdb\nmsg.payload = msg.debug;\nmsg.measurement = 'logs';\n\nreturn msg;\n","outputs":1,"noerr":0,"x":190,"y":80,"wires":[["d577a7c6.40cf08"]]},{"id":"6c3cbf6c.ae9e4","type":"debug","z":"3a013bf6.47ece4","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":910,"y":340,"wires":[]},{"id":"5553cb9.bdd4634","type":"ui_table","z":"3a013bf6.47ece4","group":"72ca987d.48da18","name":"Debug table","order":5,"width":16,"height":10,"columns":[{"field":"formattedTime","title":"Time","width":"11%","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"id","title":"Device ID","width":"12%","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"message","title":"Message","width":"50%","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"flow","title":"Flow","width":"15%","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"type","title":"Type","width":"12%","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}}],"outputs":0,"cts":false,"x":930,"y":380,"wires":[]},{"id":"d51b9245.d3058","type":"subflow:a4a8ab96.7ec2b8","z":"22b23614.75c2ca","name":"","env":[],"x":710,"y":420,"wires":[["42edcc47.ee1b74"]]},{"id":"3257f86.ed55808","type":"comment","z":"3a013bf6.47ece4","name":"\"Last 100 debug messages\" group (Debug)","info":"","x":200,"y":300,"wires":[]},{"id":"42edcc47.ee1b74","type":"link out","z":"22b23614.75c2ca","name":"debug","links":["a4876223.503b2"],"x":795,"y":420,"wires":[]},{"id":"a4876223.503b2","type":"link in","z":"3a013bf6.47ece4","name":"debug","links":["42edcc47.ee1b74","d0b3f169.b12d3","e7c01987.9abec8","9b8bce00.8f1cf","17ed0f4d.685851","53b275ea.15ac0c","ee12a16d.3fc6c","a063c8d1.f1dd28","59f8d2e1.3fb66c","193fc518.caca1b","6a2552eb.9b550c","41e6b989.542208","84d4e472.a42508","db8fc070.24b62","3b96506f.b3616","9d7ead53.30269"],"x":75,"y":380,"wires":[["7bbc1311.0a75fc"]]},{"id":"5809913b.a144d","type":"subflow:a4a8ab96.7ec2b8","z":"c5669537.d71768","name":"","env":[],"x":510,"y":900,"wires":[["e7c01987.9abec8"]]},{"id":"e7c01987.9abec8","type":"link out","z":"c5669537.d71768","name":"debug","links":["a4876223.503b2"],"x":595,"y":900,"wires":[]},{"id":"7914964b.22d6e8","type":"function","z":"c5669537.d71768","name":"formatPopup","func":"let state = 'OFF';\n\nif (msg.payload === 'open') {\n    state = 'ON';\n    msg.payload = `Time will be updated every 10m.`;\n} else if (msg.payload === 'close') {\n    msg.payload = `The devices time might get wrong over time.`;\n}\n\n\nmsg.topic=`Automatic time update ${state}`;\n\n\nmsg.debug = {\n    id: 'all connected',\n    message: msg.topic,\n    type: 'settings',\n}\n\n\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":900,"wires":[["5809913b.a144d","5b30bab9.c11bb4"]]},{"id":"52cfcaae.f9a794","type":"inject","z":"22b23614.75c2ca","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":110,"y":80,"wires":[["66f58067.0b19e"]]},{"id":"66f58067.0b19e","type":"change","z":"22b23614.75c2ca","name":"","rules":[{"t":"set","p":"flowName","pt":"flow","to":"dbHandler","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":290,"y":80,"wires":[[]]},{"id":"c3c12ff0.333d1","type":"comment","z":"22b23614.75c2ca","name":"For debug messages","info":"","x":120,"y":40,"wires":[]},{"id":"1d30ab72.d8ce15","type":"inject","z":"c55192f2.07661","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":130,"y":80,"wires":[["a5c1371f.1a8c28"]]},{"id":"a5c1371f.1a8c28","type":"change","z":"c55192f2.07661","name":"","rules":[{"t":"set","p":"flowName","pt":"flow","to":"inspectLogs","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":310,"y":80,"wires":[[]]},{"id":"eaab70a4.cab5c","type":"comment","z":"c55192f2.07661","name":"For debug messages","info":"","x":140,"y":40,"wires":[]},{"id":"cef9e3a4.aed77","type":"inject","z":"c5669537.d71768","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":130,"y":80,"wires":[["e211bd9.2a9134"]]},{"id":"e211bd9.2a9134","type":"change","z":"c5669537.d71768","name":"","rules":[{"t":"set","p":"flowName","pt":"flow","to":"advanced","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":310,"y":80,"wires":[[]]},{"id":"c6258e0e.3406a","type":"comment","z":"c5669537.d71768","name":"For debug messages","info":"","x":140,"y":40,"wires":[]},{"id":"1941e44c.ebc46c","type":"ui_button","z":"3a013bf6.47ece4","name":"","group":"72ca987d.48da18","order":3,"width":2,"height":1,"passthru":false,"label":"Pause","tooltip":"Pause debug for inspection","color":"","bgcolor":"","icon":"","payload":"close","payloadType":"str","topic":"","x":90,"y":440,"wires":[["b65c4eb4.7c7b6"]]},{"id":"d2825e8c.4cab3","type":"ui_button","z":"3a013bf6.47ece4","name":"","group":"72ca987d.48da18","order":2,"width":2,"height":1,"passthru":false,"label":"Play","tooltip":"Show current debug messages","color":"","bgcolor":"","icon":"","payload":"open","payloadType":"str","topic":"","x":90,"y":480,"wires":[["b65c4eb4.7c7b6"]]},{"id":"7bbc1311.0a75fc","type":"gate","z":"3a013bf6.47ece4","name":"","controlTopic":"control","defaultState":"open","openCmd":"open","closeCmd":"close","toggleCmd":"toggle","defaultCmd":"default","persist":false,"x":210,"y":380,"wires":[["a89b2f03.dcc81"]]},{"id":"b65c4eb4.7c7b6","type":"change","z":"3a013bf6.47ece4","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"control","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":230,"y":460,"wires":[["7bbc1311.0a75fc"]]},{"id":"5f48fde1.60c454","type":"subflow:a4a8ab96.7ec2b8","z":"c5669537.d71768","name":"","env":[],"x":590,"y":700,"wires":[["9b8bce00.8f1cf"]]},{"id":"9b8bce00.8f1cf","type":"link out","z":"c5669537.d71768","name":"debug","links":["a4876223.503b2"],"x":675,"y":700,"wires":[]},{"id":"287702ed.8c5f4e","type":"subflow:a4a8ab96.7ec2b8","z":"c5669537.d71768","name":"","env":[],"x":720,"y":280,"wires":[["17ed0f4d.685851"]]},{"id":"17ed0f4d.685851","type":"link out","z":"c5669537.d71768","name":"debug","links":["a4876223.503b2"],"x":805,"y":280,"wires":[]},{"id":"d343cc7d.5cd29","type":"function","z":"c5669537.d71768","name":"setDebug","func":"let state = 'OFF';\n\nif (msg.payload) {\n    state = 'ON';\n}\n\nmsg.debug = {\n    id: msg.payload,\n    message: `Device selected`,\n    type: 'settings',\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":590,"y":280,"wires":[["287702ed.8c5f4e"]]},{"id":"c454bb15.d42558","type":"subflow:a4a8ab96.7ec2b8","z":"22b23614.75c2ca","name":"","env":[],"x":810,"y":700,"wires":[["53b275ea.15ac0c"]]},{"id":"53b275ea.15ac0c","type":"link out","z":"22b23614.75c2ca","name":"debug","links":["a4876223.503b2"],"x":895,"y":700,"wires":[]},{"id":"a94df3b.da1f61","type":"function","z":"22b23614.75c2ca","name":"setDebug","func":"msg.debug = {\n    id: msg.deviceId,\n    message: `Incorrect device time`,\n    type: 'warning',\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":680,"y":700,"wires":[["c454bb15.d42558"]]},{"id":"c2aa02af.b6872","type":"subflow:a4a8ab96.7ec2b8","z":"c5669537.d71768","name":"","env":[],"x":730,"y":1240,"wires":[["ee12a16d.3fc6c"]]},{"id":"ee12a16d.3fc6c","type":"link out","z":"c5669537.d71768","name":"debug","links":["a4876223.503b2"],"x":815,"y":1240,"wires":[]},{"id":"4be83ccf.552a94","type":"function","z":"c5669537.d71768","name":"setDebug","func":"msg.debug = {\n    id: flow.get('currentDevice'),\n    message: msg.topic,\n    type: 'MQTT',\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":600,"y":1240,"wires":[["c2aa02af.b6872"]]},{"id":"5975d33.ab2832c","type":"subflow:a4a8ab96.7ec2b8","z":"c55192f2.07661","name":"","env":[],"x":730,"y":320,"wires":[["a063c8d1.f1dd28"]]},{"id":"a063c8d1.f1dd28","type":"link out","z":"c55192f2.07661","name":"debug","links":["a4876223.503b2"],"x":815,"y":320,"wires":[]},{"id":"433dcdce.4ed824","type":"function","z":"c55192f2.07661","name":"setDebug","func":"let state = 'OFF';\n\nif (msg.payload) {\n    state = 'ON';\n}\n\nmsg.debug = {\n    id: msg.payload,\n    message: `Device selected`,\n    type: 'settings',\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":600,"y":320,"wires":[["5975d33.ab2832c"]]},{"id":"f47a9c90.27753","type":"debug","z":"22b23614.75c2ca","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"timeDiff","targetType":"msg","x":350,"y":600,"wires":[]},{"id":"f0d70b8c.0ac8e8","type":"switch","z":"22b23614.75c2ca","name":"big timeDiff","property":"timeDiff","propertyType":"msg","rules":[{"t":"gt","v":"6e5","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":390,"y":640,"wires":[["8d8c8c15.05cd8"]],"info":"The time difference should be bigger than 10 minutes aka 6e5 milliseconds."},{"id":"c58b07e3.db63a8","type":"ui_date_picker","z":"c55192f2.07661","name":"day","label":"Day","group":"fa593ef3.d39e1","order":2,"width":0,"height":0,"passthru":true,"topic":"","x":490,"y":1100,"wires":[["59559888.6c6ae8","b9a8c242.3708"]]},{"id":"d0ac2eab.56877","type":"ui_switch","z":"c55192f2.07661","name":"pick date","label":"Custom time span:","tooltip":"Green: current data, Red: pick date","group":"ee4e2792.421568","order":4,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"past","onvalueType":"str","onicon":"history","oncolor":"#d70000","offvalue":"current","offvalueType":"str","officon":"alarm_on","offcolor":"#16a900","x":280,"y":660,"wires":[["41f41f82.c324c","2b9e2433.bc921c"]]},{"id":"98d324c5.855368","type":"ui_ui_control","z":"c55192f2.07661","name":"","events":"all","x":620,"y":680,"wires":[[]]},{"id":"d577a7c6.40cf08","type":"influxdb out","z":"a4a8ab96.7ec2b8","influxdb":"c493d9dd.1bcef8","name":"","measurement":"logs","precision":"","retentionPolicy":"","x":430,"y":60,"wires":[]},{"id":"93ef6708.7f16d8","type":"influxdb in","z":"3a013bf6.47ece4","influxdb":"c493d9dd.1bcef8","name":"bioreactors_debug","query":"","rawOutput":false,"precision":"","retentionPolicy":"","x":550,"y":380,"wires":[["612278dd.65fa88"]]},{"id":"612278dd.65fa88","type":"function","z":"3a013bf6.47ece4","name":"formatTime","func":"msg.payload.forEach(log => {log.formattedTime = log.time.toLocaleTimeString()});\n\nreturn msg;\n","outputs":1,"noerr":0,"x":750,"y":380,"wires":[["5553cb9.bdd4634","6c3cbf6c.ae9e4"]]},{"id":"41f41f82.c324c","type":"debug","z":"c55192f2.07661","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":450,"y":620,"wires":[]},{"id":"dab23bb2.dac2c8","type":"change","z":"c55192f2.07661","name":"start time","rules":[{"t":"set","p":"charts.pastData.start.time","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":640,"y":1140,"wires":[["60abad3d.e38064"]]},{"id":"c0054e1f.1d809","type":"debug","z":"c55192f2.07661","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":650,"y":1180,"wires":[]},{"id":"59559888.6c6ae8","type":"change","z":"c55192f2.07661","name":"start day","rules":[{"t":"set","p":"charts.pastData.start.day","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":640,"y":1100,"wires":[["8658aca.d5ded5"]]},{"id":"b9a8c242.3708","type":"debug","z":"c55192f2.07661","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":650,"y":1060,"wires":[]},{"id":"fc3b1fc6.52472","type":"inject","z":"c55192f2.07661","name":"","topic":"","payload":"current","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":120,"y":660,"wires":[["d0ac2eab.56877"]]},{"id":"f908f0c7.f29d3","type":"ui_text","z":"c55192f2.07661","group":"1eebb73a.aa59f9","order":1,"width":0,"height":0,"name":"","label":"Start date:","format":"{{msg.payload}}","layout":"row-spread","x":770,"y":1900,"wires":[]},{"id":"9a910e1f.2399a","type":"ui_text_input","z":"c55192f2.07661","name":"time","label":"Time","tooltip":"","group":"fa593ef3.d39e1","order":3,"width":0,"height":0,"passthru":true,"mode":"time","delay":"0","topic":"","x":490,"y":1140,"wires":[["c0054e1f.1d809","dab23bb2.dac2c8"]]},{"id":"2b9e2433.bc921c","type":"function","z":"c55192f2.07661","name":"past/current","func":"msg.state = msg.payload;\n\nif (msg.payload === \"past\") {\n    msg.payload = {\"group\":{\"show\":[\"Inspect_logs_Pick_date_and_time\"],\"focus\":true}};\n} else if (msg.payload === \"current\") {\n    msg.payload = {\"group\":{\"hide\":[\"Inspect_logs_Pick_date_and_time\"]}};\n}\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":660,"wires":[["98d324c5.855368","a84e12be.bbf37"]]},{"id":"a84e12be.bbf37","type":"change","z":"c55192f2.07661","name":"","rules":[{"t":"set","p":"charts.state","pt":"flow","to":"state","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":650,"y":640,"wires":[["b0505473.3082b8"]]},{"id":"5b1af7a4.b87fa8","type":"ui_dropdown","z":"c55192f2.07661","name":"time span","label":"Time span (now - XX):","tooltip":"","place":"Select option","group":"ee4e2792.421568","order":3,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"1 hour","value":"1h","type":"str"},{"label":"8 hours","value":"8h","type":"str"},{"label":"1 day","value":"1d","type":"str"},{"label":"1 week","value":"1w","type":"str"},{"label":"4 weeks","value":"4w","type":"str"},{"label":"10 weeks","value":"10w","type":"str"},{"label":"1 year","value":"52w","type":"str"}],"payload":"","topic":"","x":410,"y":500,"wires":[["7c8d27c3.309e28","b0e6910c.ff157"]]},{"id":"d7e7af1d.92aae","type":"change","z":"c55192f2.07661","name":"set default","rules":[{"t":"set","p":"payload","pt":"msg","to":"1h","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":250,"y":500,"wires":[["5b1af7a4.b87fa8"]]},{"id":"4a3c538e.385e9c","type":"ui_ui_control","z":"c55192f2.07661","name":"","events":"all","x":100,"y":500,"wires":[["d7e7af1d.92aae"]]},{"id":"7c8d27c3.309e28","type":"change","z":"c55192f2.07661","name":"","rules":[{"t":"set","p":"charts.timeScale","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":630,"y":500,"wires":[["94a15212.5ecb5"]]},{"id":"b0e6910c.ff157","type":"debug","z":"c55192f2.07661","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":590,"y":460,"wires":[]},{"id":"49ea3f7f.8944f","type":"comment","z":"c55192f2.07661","name":"Select device dropdown","info":"","x":150,"y":240,"wires":[]},{"id":"19ce43b5.55079c","type":"comment","z":"c55192f2.07661","name":"Charts past or current data switch","info":"","x":160,"y":600,"wires":[]},{"id":"911a2773.6c26a8","type":"comment","z":"c55192f2.07661","name":"Charts time span dropdown","info":"","x":160,"y":420,"wires":[]},{"id":"e4c63dd9.ddd95","type":"ui_text","z":"c55192f2.07661","d":true,"group":"ee4e2792.421568","order":2,"width":0,"height":0,"name":"","label":"Charts settings","format":"{{msg.payload}}","layout":"row-spread","x":120,"y":460,"wires":[]},{"id":"24c4c405.3d911c","type":"comment","z":"c55192f2.07661","name":"Show PID parameters switch","info":"","x":180,"y":1500,"wires":[]},{"id":"311594b1.42dc2c","type":"function","z":"c55192f2.07661","name":"format start date","func":"let startDate = new Date(msg.chartsDate.start);\n\nstartDate = startDate.toDateString().split(' ').slice(1, 4).join(' ') + ', ' + startDate.toTimeString().split(' ').slice(0, 1).join(' ');\n\nmsg.payload = startDate;\n\nreturn msg;","outputs":1,"noerr":0,"x":580,"y":1900,"wires":[["f908f0c7.f29d3"]]},{"id":"a715a9a2.50afb8","type":"inject","z":"c55192f2.07661","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":130,"y":1200,"wires":[["83c0eaaf.4ae388","624655a9.e7d8dc","8bb7e211.46459","59e051d7.42472"]]},{"id":"83c0eaaf.4ae388","type":"function","z":"c55192f2.07661","name":"time default","func":"// this is just a trick to convert epoch with current time to epoch rounded to midnight\nlet roundedDay = new Date(Date.now() - Date.now() % 86400000 + new Date().getTimezoneOffset() * 60000);\n\n// getting the number of milliseconds since the beginning of the day minus one hour\nmsg.payload = Date.now() - roundedDay.getTime() - 36e5;\n\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":1140,"wires":[["9a910e1f.2399a"]]},{"id":"624655a9.e7d8dc","type":"function","z":"c55192f2.07661","name":"day default","func":"\nmsg.payload = Date.now();\n\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":1100,"wires":[["c58b07e3.db63a8"]]},{"id":"5e765c3.b48e2a4","type":"inject","z":"22b23614.75c2ca","name":"","topic":"","payload":"","payloadType":"date","repeat":"180","crontab":"","once":true,"onceDelay":0.1,"x":130,"y":880,"wires":[["1757bd56.05a763"]]},{"id":"b83ef9c4.201608","type":"change","z":"22b23614.75c2ca","name":"","rules":[{"t":"set","p":"deviceList.db","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":920,"wires":[[]]},{"id":"1757bd56.05a763","type":"influxdb in","z":"22b23614.75c2ca","influxdb":"4fc05906.0c6828","name":"get db list","query":"show measurements","rawOutput":false,"precision":"","retentionPolicy":"","x":280,"y":880,"wires":[["93f3b879.a162f8"]]},{"id":"93f3b879.a162f8","type":"function","z":"22b23614.75c2ca","name":"setList","func":"msg.payload = msg.payload.map(i => mapFilter(i));\n\nmsg.debug = {\n    id: 'all db',\n    type: '',\n    message: 'DB devices list updated'\n}\n\nreturn msg;\n\nfunction mapFilter(entry) {\n    let parts = entry.name.split('_');\n    if (parts.length >= 2) {\n        return parts[1];\n    }\n}","outputs":1,"noerr":0,"x":410,"y":880,"wires":[["b83ef9c4.201608","948ff220.c2db","854e7916.cadbb8"]]},{"id":"948ff220.c2db","type":"debug","z":"22b23614.75c2ca","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":570,"y":880,"wires":[]},{"id":"9ae9993b.90b858","type":"comment","z":"22b23614.75c2ca","name":"Get db devices list","info":"","x":130,"y":840,"wires":[]},{"id":"854e7916.cadbb8","type":"subflow:a4a8ab96.7ec2b8","z":"22b23614.75c2ca","d":true,"name":"","env":[],"x":550,"y":840,"wires":[["6a2552eb.9b550c"]]},{"id":"6a2552eb.9b550c","type":"link out","z":"22b23614.75c2ca","name":"debug","links":["a4876223.503b2"],"x":635,"y":840,"wires":[]},{"id":"b09a8ac0.331348","type":"mqtt out","z":"22b23614.75c2ca","name":"","topic":"","qos":"","retain":"","broker":"1013011c.82c3ef","x":610,"y":1060,"wires":[]},{"id":"ed35866f.273108","type":"mqtt in","z":"22b23614.75c2ca","name":"","topic":"bioreactor/a/#","qos":"2","datatype":"auto","broker":"1013011c.82c3ef","x":110,"y":1160,"wires":[["72f2b85f.484208"]]},{"id":"72f2b85f.484208","type":"switch","z":"22b23614.75c2ca","name":"filter topic","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"connectedDevices.topic","vt":"flow"}],"checkall":"true","repair":false,"outputs":1,"x":260,"y":1160,"wires":[["7fa74173.92c9c"]]},{"id":"bd553c45.6745d","type":"subflow:9755adca.c3eda","z":"22b23614.75c2ca","name":"","env":[],"x":440,"y":1060,"wires":[["b09a8ac0.331348","eb85ea48.588d68"]]},{"id":"eb85ea48.588d68","type":"debug","z":"22b23614.75c2ca","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"topic","targetType":"msg","x":620,"y":1020,"wires":[]},{"id":"b038d3ce.20245","type":"function","z":"22b23614.75c2ca","name":"setTopic","func":"msg.topic = `bioreactor/q/list`;\n\n// this property has to be unique within the flow, it is used by setAnswerTopic.\nmsg.group = \"connectedDevices\";\n\nreturn msg;","outputs":1,"noerr":0,"x":280,"y":1060,"wires":[["bd553c45.6745d"]]},{"id":"204834f8.c9f8cc","type":"comment","z":"22b23614.75c2ca","name":"Get connected devices list","info":"","x":150,"y":1020,"wires":[]},{"id":"1ca9e51a.95ea3b","type":"inject","z":"22b23614.75c2ca","name":"","topic":"","payload":"","payloadType":"date","repeat":"180","crontab":"","once":true,"onceDelay":0.1,"x":130,"y":1060,"wires":[["b038d3ce.20245"]]},{"id":"da87ffcc.f1d8a","type":"change","z":"22b23614.75c2ca","name":"","rules":[{"t":"set","p":"deviceList.connected","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":1200,"wires":[[]]},{"id":"7fa74173.92c9c","type":"function","z":"22b23614.75c2ca","name":"setList","func":"let devices = JSON.parse(msg.payload);\n\nmsg.payload = devices.map(device => device.id);\n\nmsg.debug = {\n    id: 'all connected',\n    type: '',\n    message: 'Connected devices list updated'\n}\n\nreturn msg;\n","outputs":1,"noerr":0,"x":390,"y":1160,"wires":[["da87ffcc.f1d8a","cb5e40dd.31fb9","4ef3bff4.c6d46"]]},{"id":"cb5e40dd.31fb9","type":"debug","z":"22b23614.75c2ca","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":550,"y":1160,"wires":[]},{"id":"4ef3bff4.c6d46","type":"subflow:a4a8ab96.7ec2b8","z":"22b23614.75c2ca","d":true,"name":"","env":[],"x":530,"y":1120,"wires":[["41e6b989.542208"]]},{"id":"41e6b989.542208","type":"link out","z":"22b23614.75c2ca","name":"debug","links":["a4876223.503b2"],"x":615,"y":1120,"wires":[]},{"id":"99e14d54.d5814","type":"comment","z":"22b23614.75c2ca","name":"Devices list handler","info":"","x":130,"y":800,"wires":[]},{"id":"cfdbbd00.f035b","type":"ui_dropdown","z":"7bfda10d.9b513","name":"","label":"","tooltip":"","place":"Select option","group":"29212e53.bd7442","order":1,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"","value":"","type":"str"}],"payload":"","topic":"","x":450,"y":220,"wires":[["e263d727.706e98","23d7ed00.268424","285c5190.f3597e"]]},{"id":"be113bd6.5d72b8","type":"change","z":"7bfda10d.9b513","name":"","rules":[{"t":"set","p":"options","pt":"msg","to":"deviceList.connected","tot":"global"},{"t":"set","p":"payload","pt":"msg","to":"deviceList.connected[0]","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":270,"y":220,"wires":[["cfdbbd00.f035b"]]},{"id":"e263d727.706e98","type":"change","z":"7bfda10d.9b513","name":"","rules":[{"t":"set","p":"currentDevice","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":660,"y":220,"wires":[[]]},{"id":"23d7ed00.268424","type":"debug","z":"7bfda10d.9b513","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":630,"y":180,"wires":[]},{"id":"496ae312.74054c","type":"ui_ui_control","z":"7bfda10d.9b513","name":"","events":"all","x":110,"y":220,"wires":[["be113bd6.5d72b8"]]},{"id":"46e59859.6a6058","type":"comment","z":"7bfda10d.9b513","name":"\"Select device\" group (Setup)","info":"","x":170,"y":180,"wires":[]},{"id":"5fdde09a.e8285","type":"inject","z":"7bfda10d.9b513","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":140,"y":100,"wires":[["3f1fd06a.7d6f9"]]},{"id":"3f1fd06a.7d6f9","type":"change","z":"7bfda10d.9b513","name":"","rules":[{"t":"set","p":"flowName","pt":"flow","to":"setup","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":100,"wires":[[]]},{"id":"d945d973.366df8","type":"comment","z":"7bfda10d.9b513","name":"For debug messages","info":"","x":150,"y":60,"wires":[]},{"id":"64851f06.5a44e","type":"subflow:a4a8ab96.7ec2b8","z":"7bfda10d.9b513","name":"","env":[],"x":750,"y":260,"wires":[["84d4e472.a42508"]]},{"id":"84d4e472.a42508","type":"link out","z":"7bfda10d.9b513","name":"debug","links":["a4876223.503b2"],"x":835,"y":260,"wires":[]},{"id":"285c5190.f3597e","type":"function","z":"7bfda10d.9b513","name":"setDebug","func":"let state = 'OFF';\n\nif (msg.payload) {\n    state = 'ON';\n}\n\nmsg.debug = {\n    id: msg.payload,\n    message: `Device selected`,\n    type: 'settings',\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":620,"y":260,"wires":[["64851f06.5a44e"]]},{"id":"620db123.ed637","type":"comment","z":"7bfda10d.9b513","name":"\"Weight calibration\" group (Setup)","info":"","x":180,"y":360,"wires":[]},{"id":"7b902437.50b93c","type":"ui_ui_control","z":"c5669537.d71768","name":"","events":"all","x":100,"y":200,"wires":[["15c2d2df.4ff6fd"]]},{"id":"d6fcc826.9eb9d8","type":"ui_ui_control","z":"c55192f2.07661","name":"","events":"all","x":100,"y":280,"wires":[["9b699401.789fa8"]]},{"id":"1b00c8c4.fecb77","type":"ui_switch","z":"65ca72ac.afdd4c","name":"heating","label":"Heating","tooltip":"","group":"c4d5ba76.93c688","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":180,"y":620,"wires":[[]]},{"id":"977f1f2e.f595d","type":"ui_switch","z":"65ca72ac.afdd4c","name":"pumps","label":"Pumps","tooltip":"","group":"c4d5ba76.93c688","order":3,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":170,"y":660,"wires":[[]]},{"id":"b8266268.fbc0d","type":"ui_switch","z":"65ca72ac.afdd4c","name":"agitation","label":"Agitation","tooltip":"","group":"c4d5ba76.93c688","order":4,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":180,"y":700,"wires":[[]]},{"id":"104401e3.c0ac0e","type":"ui_switch","z":"7bfda10d.9b513","name":"","label":"Set empty weight","tooltip":"","group":"5aa76f14.2950b","order":5,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"we","onvalueType":"str","onicon":"done","oncolor":"#04bf30","offvalue":"false","offvalueType":"bool","officon":"send","offcolor":"#42a1f5","x":370,"y":680,"wires":[["657682a5.e1b36c"]]},{"id":"bb55f1b7.fde8b","type":"ui_text","z":"7bfda10d.9b513","group":"5aa76f14.2950b","order":4,"width":0,"height":0,"name":"","label":"1) Place an empty tank on the bioreactor and click the button below.","format":"{{msg.payload}}","layout":"row-left","x":290,"y":420,"wires":[]},{"id":"c47776fc.0e9688","type":"ui_switch","z":"7bfda10d.9b513","name":"","label":"Set empty+1kg weight","tooltip":"","group":"5aa76f14.2950b","order":7,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"wk","onvalueType":"str","onicon":"done","oncolor":"#04bf30","offvalue":"false","offvalueType":"bool","officon":"send","offcolor":"#42a1f5","x":380,"y":780,"wires":[["431e941e.3f6c4c"]]},{"id":"fb657993.073438","type":"ui_text","z":"7bfda10d.9b513","group":"5aa76f14.2950b","order":6,"width":0,"height":0,"name":"","label":"2) Fill the tank with 1kg of water and click the button.","format":"{{msg.payload}}","layout":"row-left","x":240,"y":460,"wires":[]},{"id":"c77143f0.ff351","type":"ui_switch","z":"7bfda10d.9b513","name":"","label":"Set minimal level","tooltip":"","group":"5aa76f14.2950b","order":9,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"wl","onvalueType":"str","onicon":"done","oncolor":"#04bf30","offvalue":"false","offvalueType":"bool","officon":"send","offcolor":"#42a1f5","x":370,"y":880,"wires":[["7bcd1dc3.ed3044"]]},{"id":"d47105d0.f5d208","type":"ui_text","z":"7bfda10d.9b513","group":"5aa76f14.2950b","order":8,"width":0,"height":0,"name":"","label":"3) Fill the tank with the minimal acceptable liquid level and click the button.","format":"{{msg.payload}}","layout":"row-left","x":310,"y":500,"wires":[]},{"id":"71f9b8c6.81f4e8","type":"ui_switch","z":"7bfda10d.9b513","name":"","label":"Set maximal level","tooltip":"","group":"5aa76f14.2950b","order":11,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"wh","onvalueType":"str","onicon":"done","oncolor":"#04bf30","offvalue":"false","offvalueType":"bool","officon":"send","offcolor":"#42a1f5","x":370,"y":980,"wires":[["e81467a1.a7cfa8"]]},{"id":"5493d42.7e5bd2c","type":"ui_text","z":"7bfda10d.9b513","group":"5aa76f14.2950b","order":10,"width":0,"height":0,"name":"","label":"4) Fill the tank with the maximal acceptable liquid level and click the button.","format":"{{msg.payload}}","layout":"row-left","x":310,"y":540,"wires":[]},{"id":"ce7b1474.97d608","type":"change","z":"7bfda10d.9b513","name":"disable","rules":[{"t":"set","p":"enabled","pt":"msg","to":"false","tot":"bool"},{"t":"set","p":"payload","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":280,"y":600,"wires":[["8d7949b1.3d4758"]]},{"id":"5ed5d7e3.f3bae8","type":"ui_date_picker","z":"c55192f2.07661","name":"day","label":"Day","group":"fa593ef3.d39e1","order":6,"width":0,"height":0,"passthru":true,"topic":"","x":490,"y":1260,"wires":[["f0015ae8.4f0d68","68911789.3337e8"]]},{"id":"d8c36024.976","type":"change","z":"c55192f2.07661","name":"end time","rules":[{"t":"set","p":"charts.pastData.end.time","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":640,"y":1300,"wires":[["2a57e4bc.04ad4c"]]},{"id":"5cddffb6.39389","type":"debug","z":"c55192f2.07661","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":650,"y":1340,"wires":[]},{"id":"f0015ae8.4f0d68","type":"change","z":"c55192f2.07661","name":"end day","rules":[{"t":"set","p":"charts.pastData.end.day","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":640,"y":1260,"wires":[["176bf100.345aef"]]},{"id":"68911789.3337e8","type":"debug","z":"c55192f2.07661","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":650,"y":1220,"wires":[]},{"id":"da3f0c85.83dc5","type":"ui_text_input","z":"c55192f2.07661","name":"time","label":"Time","tooltip":"","group":"fa593ef3.d39e1","order":7,"width":0,"height":0,"passthru":true,"mode":"time","delay":"0","topic":"","x":490,"y":1300,"wires":[["5cddffb6.39389","d8c36024.976"]]},{"id":"59e051d7.42472","type":"function","z":"c55192f2.07661","name":"time default","func":"// this is just a trick to convert epoch with current time to epoch rounded to midnight\nlet roundedDay = new Date(Date.now() - Date.now() % 86400000 + new Date().getTimezoneOffset() * 60000);\n\n// getting the number of milliseconds since the beginning of the day\nmsg.payload = Date.now() - roundedDay.getTime();\n\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":1300,"wires":[["da3f0c85.83dc5"]]},{"id":"8bb7e211.46459","type":"function","z":"c55192f2.07661","name":"day default","func":"\nmsg.payload = Date.now();\n\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":1260,"wires":[["5ed5d7e3.f3bae8"]]},{"id":"fd5db85e.176768","type":"comment","z":"c55192f2.07661","name":"Start time","info":"","x":340,"y":1060,"wires":[]},{"id":"4da4bd33.33ff24","type":"comment","z":"c55192f2.07661","name":"End time","info":"","x":340,"y":1220,"wires":[]},{"id":"8aae8fcc.ad2a3","type":"ui_text","z":"c55192f2.07661","group":"fa593ef3.d39e1","order":1,"width":0,"height":0,"name":"text","label":"Set the start date:","format":"{{msg.payload}}","layout":"row-spread","x":490,"y":1060,"wires":[]},{"id":"351b66f9.c47e7a","type":"ui_text","z":"c55192f2.07661","group":"fa593ef3.d39e1","order":5,"width":0,"height":0,"name":"text","label":"Set the end date:","format":"{{msg.payload}}","layout":"row-spread","x":490,"y":1220,"wires":[]},{"id":"6b478e8c.b312e","type":"ui_text","z":"c55192f2.07661","group":"1eebb73a.aa59f9","order":2,"width":0,"height":0,"name":"","label":"End date:","format":"{{msg.payload}}","layout":"row-spread","x":780,"y":1940,"wires":[]},{"id":"7b5746a6.0d7a18","type":"function","z":"c55192f2.07661","name":"format end date","func":"let endDate = new Date(msg.chartsDate.end);\n\nendDate = endDate.toDateString().split(' ').slice(1, 4).join(' ') + ', ' + endDate.toTimeString().split(' ').slice(0, 1).join(' ');\n\nmsg.payload = endDate;\n\nreturn msg;","outputs":1,"noerr":0,"x":580,"y":1940,"wires":[["6b478e8c.b312e"]]},{"id":"8d7949b1.3d4758","type":"link out","z":"7bfda10d.9b513","name":"disable","links":["4625f838.f56a48","19e020e4.9fdfef","4a980c3a.ec7854","c260b186.f2461"],"x":375,"y":600,"wires":[]},{"id":"19e020e4.9fdfef","type":"link in","z":"7bfda10d.9b513","name":"","links":["8d7949b1.3d4758"],"x":235,"y":700,"wires":[["104401e3.c0ac0e"]]},{"id":"4625f838.f56a48","type":"link in","z":"7bfda10d.9b513","name":"","links":["8d7949b1.3d4758"],"x":235,"y":820,"wires":[["c47776fc.0e9688"]]},{"id":"74344793.225038","type":"mqtt out","z":"f0a56b0b.73e6d8","d":true,"name":"","topic":"","qos":"","retain":"","broker":"1013011c.82c3ef","x":470,"y":180,"wires":[]},{"id":"3ff95cae.f53cc4","type":"debug","z":"f0a56b0b.73e6d8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"topic","targetType":"msg","x":480,"y":140,"wires":[]},{"id":"e30b997.ee4cc68","type":"function","z":"f0a56b0b.73e6d8","name":"setTopic","func":"let device = flow.get(\"currentDevice\");\n\nmsg.topic = `bioreactor/q/${device}/${msg.payload}`;\n\nreturn msg;\n","outputs":1,"noerr":0,"x":320,"y":140,"wires":[["3ff95cae.f53cc4","74344793.225038"]]},{"id":"382e2107.c7b39e","type":"ui_button","z":"7bfda10d.9b513","name":"start","group":"5aa76f14.2950b","order":2,"width":4,"height":1,"passthru":false,"label":"Start weight calibration","tooltip":"","color":"","bgcolor":"","icon":"","payload":"false","payloadType":"bool","topic":"","x":90,"y":660,"wires":[["d6e2ee99.70253"]]},{"id":"d6e2ee99.70253","type":"change","z":"7bfda10d.9b513","name":"enable","rules":[{"t":"set","p":"enabled","pt":"msg","to":"true","tot":"bool"},{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":210,"y":660,"wires":[["104401e3.c0ac0e"]]},{"id":"fa2ad176.49d83","type":"switch","z":"f0a56b0b.73e6d8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"istype","v":"string","vt":"string"}],"checkall":"true","repair":false,"outputs":1,"x":190,"y":80,"wires":[["e30b997.ee4cc68","a1b7afb1.4a99d"]]},{"id":"4a980c3a.ec7854","type":"link in","z":"7bfda10d.9b513","name":"","links":["8d7949b1.3d4758"],"x":235,"y":920,"wires":[["c77143f0.ff351"]]},{"id":"c260b186.f2461","type":"link in","z":"7bfda10d.9b513","name":"","links":["8d7949b1.3d4758"],"x":235,"y":1020,"wires":[["71f9b8c6.81f4e8"]]},{"id":"657682a5.e1b36c","type":"subflow:f0a56b0b.73e6d8","z":"7bfda10d.9b513","name":"","env":[],"x":570,"y":680,"wires":[["c47776fc.0e9688"]]},{"id":"431e941e.3f6c4c","type":"subflow:f0a56b0b.73e6d8","z":"7bfda10d.9b513","x":590,"y":780,"wires":[["c77143f0.ff351"]]},{"id":"7bcd1dc3.ed3044","type":"subflow:f0a56b0b.73e6d8","z":"7bfda10d.9b513","x":590,"y":880,"wires":[["71f9b8c6.81f4e8"]]},{"id":"e81467a1.a7cfa8","type":"subflow:f0a56b0b.73e6d8","z":"7bfda10d.9b513","x":590,"y":980,"wires":[["1d9f3327.1733dd","75024611.0241e8"]]},{"id":"43e0cb96.faaf94","type":"ui_text","z":"7bfda10d.9b513","group":"5aa76f14.2950b","order":12,"width":0,"height":0,"name":"done","label":"","format":"{{msg.payload}}","layout":"col-center","x":450,"y":1080,"wires":[]},{"id":"75024611.0241e8","type":"change","z":"7bfda10d.9b513","name":"done message","rules":[{"t":"set","p":"payload","pt":"msg","to":"Calibration done!","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":420,"y":1040,"wires":[["43e0cb96.faaf94","b5b36b5f.2a94a8"]]},{"id":"a1b7afb1.4a99d","type":"change","z":"f0a56b0b.73e6d8","name":"enable","rules":[{"t":"set","p":"enabled","pt":"msg","to":"true","tot":"bool"},{"t":"set","p":"payload","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":350,"y":80,"wires":[[]]},{"id":"1d9f3327.1733dd","type":"debug","z":"7bfda10d.9b513","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":790,"y":980,"wires":[]},{"id":"56c78b4c.c95d04","type":"ui_ui_control","z":"7bfda10d.9b513","name":"","events":"all","x":100,"y":600,"wires":[["ce7b1474.97d608"]]},{"id":"7cc5cbcd.bd5364","type":"ui_ui_control","z":"7bfda10d.9b513","name":"","events":"all","x":100,"y":1080,"wires":[["d1c015f7.b2c0b8"]]},{"id":"d1c015f7.b2c0b8","type":"change","z":"7bfda10d.9b513","name":"default value","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":250,"y":1080,"wires":[["43e0cb96.faaf94"]]},{"id":"1d8def4f.de6941","type":"mqtt out","z":"7bfda10d.9b513","name":"","topic":"","qos":"","retain":"","broker":"1013011c.82c3ef","x":810,"y":1240,"wires":[]},{"id":"987fcb83.73e968","type":"mqtt in","z":"7bfda10d.9b513","name":"","topic":"bioreactor/a/#","qos":"2","datatype":"auto","broker":"1013011c.82c3ef","x":110,"y":1380,"wires":[["f7163700.f29178"]]},{"id":"f7163700.f29178","type":"switch","z":"7bfda10d.9b513","name":"filter topic","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"queryDevice.topic","vt":"flow"}],"checkall":"true","repair":false,"outputs":1,"x":260,"y":1380,"wires":[["bfd5f34f.fde35","3008daee.ae7a66","bad813e1.b5147"]]},{"id":"bfd5f34f.fde35","type":"debug","z":"7bfda10d.9b513","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":430,"y":1340,"wires":[]},{"id":"e9979142.bf4af","type":"subflow:9755adca.c3eda","z":"7bfda10d.9b513","name":"","env":[],"x":640,"y":1240,"wires":[["1d8def4f.de6941","f354d34a.39dfe","1a5d3a87.caf635"]]},{"id":"f354d34a.39dfe","type":"debug","z":"7bfda10d.9b513","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"topic","targetType":"msg","x":840,"y":1200,"wires":[]},{"id":"b5b36b5f.2a94a8","type":"function","z":"7bfda10d.9b513","name":"setTopic","func":"let cmd = msg.payload;\n\nlet id = flow.get('currentDevice');\n\nif (cmd !== '') {\n    msg.topic = `bioreactor/q/${id}/wt`;\n}\n\nmsg.group = \"queryDevice\";\n\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":1240,"wires":[["e9979142.bf4af"]]},{"id":"3008daee.ae7a66","type":"change","z":"7bfda10d.9b513","name":"","rules":[{"t":"set","p":"title","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":430,"y":1420,"wires":[["14ffd523.734cab"]]},{"id":"14ffd523.734cab","type":"ui_template","z":"7bfda10d.9b513","group":"8a6ffe70.27a12","name":"Multiline text","order":5,"width":0,"height":0,"format":"<style>\n    #mylog {\n        padding: 0;\n        white-space: pre;\n        min-height: 300px;\n    }\n</style>\n\n<div><h3 ng-bind=\"msg.title\"></h3></div>\n\n<div id=\"mylog\" ng-bind=\"msg.payload\" contenteditable=\"false\">\n    <!-- payload will go here -->\n</div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":590,"y":1420,"wires":[[]]},{"id":"612fec8c.50b284","type":"comment","z":"7bfda10d.9b513","name":"\"Weight test\" group (Setup)","info":"Get test weight measurements","x":200,"y":1200,"wires":[]},{"id":"82a07fef.5e58e","type":"subflow:a4a8ab96.7ec2b8","z":"7bfda10d.9b513","name":"","env":[],"x":890,"y":1120,"wires":[["db8fc070.24b62"]]},{"id":"db8fc070.24b62","type":"link out","z":"7bfda10d.9b513","name":"debug","links":["a4876223.503b2"],"x":975,"y":1120,"wires":[]},{"id":"1a5d3a87.caf635","type":"function","z":"7bfda10d.9b513","name":"setDebug","func":"msg.debug = {\n    id: flow.get('currentDevice'),\n    message: msg.topic,\n    type: 'MQTT',\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":820,"y":1160,"wires":[["82a07fef.5e58e"]]},{"id":"fc44e38b.be70f","type":"ui_button","z":"7bfda10d.9b513","name":"","group":"8a6ffe70.27a12","order":2,"width":2,"height":1,"passthru":false,"label":"Test weight","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":270,"y":1240,"wires":[["b5b36b5f.2a94a8"]]},{"id":"3739ec7c.450564","type":"ui_text","z":"7bfda10d.9b513","group":"8a6ffe70.27a12","order":4,"width":0,"height":0,"name":"","label":"Test time","format":"{{msg.payload}}","layout":"col-center","x":580,"y":1380,"wires":[]},{"id":"bad813e1.b5147","type":"function","z":"7bfda10d.9b513","name":"display time","func":"let date = new Date(Date.now());\n\ndate = date.toDateString().split(' ').slice(1, 4).join(' ') + ', ' + date.toTimeString().split(' ').slice(0, 1).join(' ');\n\nmsg.payload = date;\n\n// `${date.substr(0, 10)}, ${date.substr(12, 19)}`;\n\nreturn msg;\n\n","outputs":1,"noerr":0,"x":430,"y":1380,"wires":[["3739ec7c.450564"]]},{"id":"5012015c.52d0c","type":"comment","z":"65ca72ac.afdd4c","name":"\"Status\" group (Monitor)","info":"","x":190,"y":580,"wires":[]},{"id":"755b136f.a4c74c","type":"mqtt out","z":"65ca72ac.afdd4c","name":"","topic":"","qos":"","retain":"","broker":"1013011c.82c3ef","x":590,"y":320,"wires":[]},{"id":"ecdbec78.e574b","type":"mqtt in","z":"65ca72ac.afdd4c","name":"","topic":"bioreactor/a/#","qos":"2","datatype":"auto","broker":"1013011c.82c3ef","x":90,"y":460,"wires":[["8e2ccc2f.cad2b"]]},{"id":"8e2ccc2f.cad2b","type":"switch","z":"65ca72ac.afdd4c","name":"filter topic","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"queryDevice.topic","vt":"flow"}],"checkall":"true","repair":false,"outputs":1,"x":240,"y":460,"wires":[["1f0e5cfc.d38d83","3126d908.af2a86","433676c9.e8daa8"]]},{"id":"1f0e5cfc.d38d83","type":"debug","z":"65ca72ac.afdd4c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":410,"y":420,"wires":[]},{"id":"24e7716c.666ade","type":"subflow:9755adca.c3eda","z":"65ca72ac.afdd4c","name":"","env":[],"x":420,"y":320,"wires":[["755b136f.a4c74c","ce4361eb.865fa","145fb5cf.3bd18a"]]},{"id":"ce4361eb.865fa","type":"debug","z":"65ca72ac.afdd4c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"topic","targetType":"msg","x":620,"y":280,"wires":[]},{"id":"7c95c92c.e6c3c8","type":"function","z":"65ca72ac.afdd4c","name":"setTopic","func":"let cmd = msg.payload;\n\nlet id = flow.get('currentDevice');\n\nif (cmd !== '') {\n    msg.topic = `bioreactor/q/${id}/wt`;\n}\n\nmsg.group = \"queryDevice\";\n\nreturn msg;","outputs":1,"noerr":0,"x":260,"y":320,"wires":[["24e7716c.666ade"]]},{"id":"3126d908.af2a86","type":"change","z":"65ca72ac.afdd4c","name":"","rules":[{"t":"set","p":"title","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":410,"y":500,"wires":[["54179633.f529f8"]]},{"id":"54179633.f529f8","type":"ui_template","z":"65ca72ac.afdd4c","d":true,"group":"8ce99e7.c3e626","name":"Multiline text","order":5,"width":0,"height":0,"format":"<style>\n    #mylog {\n        padding: 0;\n        white-space: pre;\n        min-height: 300px;\n    }\n</style>\n\n<div><h3 ng-bind=\"msg.title\"></h3></div>\n\n<div id=\"mylog\" ng-bind=\"msg.payload\" contenteditable=\"false\">\n    <!-- payload will go here -->\n</div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":570,"y":500,"wires":[[]]},{"id":"c400a942.9fa948","type":"comment","z":"65ca72ac.afdd4c","name":"\"Weight test\" group (Setup)","info":"Get test weight measurements","x":150,"y":280,"wires":[]},{"id":"c8e184b2.250668","type":"subflow:a4a8ab96.7ec2b8","z":"65ca72ac.afdd4c","name":"","env":[],"x":670,"y":200,"wires":[["3b96506f.b3616"]]},{"id":"3b96506f.b3616","type":"link out","z":"65ca72ac.afdd4c","name":"debug","links":["a4876223.503b2"],"x":755,"y":200,"wires":[]},{"id":"145fb5cf.3bd18a","type":"function","z":"65ca72ac.afdd4c","name":"setDebug","func":"msg.debug = {\n    id: flow.get('currentDevice'),\n    message: msg.topic,\n    type: 'MQTT',\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":600,"y":240,"wires":[["c8e184b2.250668"]]},{"id":"c45337d7.7137e8","type":"ui_button","z":"65ca72ac.afdd4c","d":true,"name":"","group":"8ce99e7.c3e626","order":2,"width":2,"height":1,"passthru":false,"label":"Test weight","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":110,"y":320,"wires":[["7c95c92c.e6c3c8"]]},{"id":"e3f35a68.1b6d38","type":"ui_text","z":"65ca72ac.afdd4c","d":true,"group":"8ce99e7.c3e626","order":4,"width":0,"height":0,"name":"","label":"Test time","format":"{{msg.payload}}","layout":"col-center","x":560,"y":460,"wires":[]},{"id":"433676c9.e8daa8","type":"function","z":"65ca72ac.afdd4c","name":"display time","func":"let date = new Date(Date.now());\n\ndate = date.toDateString().split(' ').slice(1, 4).join(' ') + ', ' + date.toLocaleTimeString();\n\nmsg.payload = date;\n\n// `${date.substr(0, 10)}, ${date.substr(12, 19)}`;\n\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":460,"wires":[["e3f35a68.1b6d38"]]},{"id":"1189b9a9.813246","type":"link out","z":"c55192f2.07661","name":"refresh charts","links":["fd651e1e.c2865","df70feee.717eb"],"x":775,"y":240,"wires":[]},{"id":"94a15212.5ecb5","type":"link out","z":"c55192f2.07661","name":"refresh charts","links":["fd651e1e.c2865","df70feee.717eb"],"x":775,"y":500,"wires":[]},{"id":"fd651e1e.c2865","type":"link in","z":"c55192f2.07661","name":"","links":["1189b9a9.813246","176bf100.345aef","2a57e4bc.04ad4c","60abad3d.e38064","8658aca.d5ded5","94a15212.5ecb5","b0505473.3082b8","2b44d4fe.09717c"],"x":175,"y":900,"wires":[["71835682.736068"]]},{"id":"b0505473.3082b8","type":"link out","z":"c55192f2.07661","name":"refresh charts","links":["fd651e1e.c2865","df70feee.717eb"],"x":775,"y":640,"wires":[]},{"id":"8658aca.d5ded5","type":"link out","z":"c55192f2.07661","name":"refresh charts","links":["fd651e1e.c2865","df70feee.717eb"],"x":735,"y":1100,"wires":[]},{"id":"60abad3d.e38064","type":"link out","z":"c55192f2.07661","name":"refresh charts","links":["fd651e1e.c2865","df70feee.717eb"],"x":735,"y":1140,"wires":[]},{"id":"176bf100.345aef","type":"link out","z":"c55192f2.07661","name":"refresh charts","links":["fd651e1e.c2865","df70feee.717eb"],"x":735,"y":1260,"wires":[]},{"id":"2a57e4bc.04ad4c","type":"link out","z":"c55192f2.07661","name":"refresh charts","links":["fd651e1e.c2865","df70feee.717eb"],"x":735,"y":1300,"wires":[]},{"id":"df70feee.717eb","type":"link in","z":"c55192f2.07661","name":"","links":["1189b9a9.813246","176bf100.345aef","2a57e4bc.04ad4c","2b44d4fe.09717c","60abad3d.e38064","8658aca.d5ded5","94a15212.5ecb5","b0505473.3082b8"],"x":115,"y":1880,"wires":[["94b6a550.a4aed8"]]},{"id":"2b44d4fe.09717c","type":"link out","z":"c55192f2.07661","name":"refresh charts","links":["fd651e1e.c2865","df70feee.717eb"],"x":835,"y":1540,"wires":[]},{"id":"827ca4a0.f99c38","type":"ui_ui_control","z":"c5669537.d71768","name":"","events":"connect","x":100,"y":860,"wires":[["d30f66f5.719ab8"]]},{"id":"d30f66f5.719ab8","type":"change","z":"c5669537.d71768","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"open","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":120,"y":900,"wires":[["e0dc0da0.af5ef"]]},{"id":"5b30bab9.c11bb4","type":"ui_toast","z":"c5669537.d71768","position":"top right","displayTime":"5","highlight":"#ad830e","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"","name":"popup","x":490,"y":860,"wires":[]},{"id":"86c43e9.65025c","type":"comment","z":"65ca72ac.afdd4c","name":"This tab is a work in progress!","info":"","x":160,"y":40,"wires":[]},{"id":"52154c16.a172c4","type":"inject","z":"65ca72ac.afdd4c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":130,"y":140,"wires":[["569462f2.66c66c"]]},{"id":"569462f2.66c66c","type":"change","z":"65ca72ac.afdd4c","name":"","rules":[{"t":"set","p":"flowName","pt":"flow","to":"setup","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":310,"y":140,"wires":[[]]},{"id":"ecd925d0.c33998","type":"comment","z":"65ca72ac.afdd4c","name":"For debug messages","info":"","x":140,"y":100,"wires":[]},{"id":"3af01c43.9655c4","type":"ui_button","z":"c5669537.d71768","name":"reload","group":"60f23d23.b883c4","order":5,"width":2,"height":1,"passthru":false,"label":"Reload GUI","tooltip":"Click here to refresh the page.","color":"","bgcolor":"","icon":"","payload":"{\"tab\":\"\"}","payloadType":"json","topic":"","x":110,"y":360,"wires":[["7862f85d.ab0aa8"]]},{"id":"7862f85d.ab0aa8","type":"ui_ui_control","z":"c5669537.d71768","name":"","events":"all","x":240,"y":360,"wires":[[]]},{"id":"dc1aeae1.2d2768","type":"debug","z":"c5669537.d71768","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":450,"y":1700,"wires":[]},{"id":"619f6675.e22168","type":"debug","z":"c55192f2.07661","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"chartsDate","targetType":"msg","x":560,"y":1980,"wires":[]},{"id":"f1610e94.3812a","type":"ui_text","z":"65ca72ac.afdd4c","group":"c4d5ba76.93c688","order":1,"width":0,"height":0,"name":"temporary text","label":"This tab is a work in progress!","format":"{{msg.payload}}","layout":"row-spread","x":400,"y":580,"wires":[]},{"id":"41fe6e7b.001b","type":"comment","z":"ac9f7f6.a3d058","name":"Tab with only static text","info":"","x":160,"y":40,"wires":[]},{"id":"ed044f48.b441","type":"inject","z":"17db255d.26490b","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":190,"y":80,"wires":[["5dbd067.90e66f8"]]},{"id":"8fd9d2ee.01b3e","type":"ui_template","z":"ac9f7f6.a3d058","group":"cacae2d6.edd3e","name":"Info","order":4,"width":0,"height":0,"format":"<style>\n    p {\n        padding-bottom: 5px;\n        text-align: justify;\n        line-height: 1.5em;\n    }\n    a { color: #dba100 }\n</style>\n<div>\n    <p>This dashboard was created using Node-Red.</p>\n    <p>This is a responsive graphical interface allowing the control of the open-source bioreactors developed in the <a href='https://github.com/Hackuarium/nodered-bioreactor-gui/'>bioreactor project</a> of the <a href='http://wiki.hackuarium.ch/w/Main_Page'>Hackuarium association</a>.</p>\n</div>\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":130,"y":140,"wires":[[]]},{"id":"6728fcd8.c4b034","type":"switch","z":"c5669537.d71768","name":"","property":"currentDevice","propertyType":"flow","rules":[{"t":"nempty"}],"checkall":"true","repair":false,"outputs":1,"x":330,"y":1640,"wires":[["2298c71.c316838"]]},{"id":"4bb60abe.3b49a4","type":"ui_template","z":"c55192f2.07661","group":"2774473f.b18b48","name":"Clock Toolbar","order":1,"width":0,"height":0,"format":"<script id=\"titleScript\" type=\"text/javascript\">\n\n$(function() {\n    if($('.md-toolbar-tools').length != 0){\n        loadClock();\n    }else setTimeout(loadClock, 500)\n});\n\nfunction loadClock(){\n    $('#clock').remove();\n    var toolbar = $('.md-toolbar-tools');\n    \n    var div = $('<div/>');\n    var p = $('<p/ id=\"clock\">');\n    \n    div.append(p);\n    div[0].style.margin = '5px 5px 5px auto';\n    toolbar.append(div);\n\n    function displayTitle(lh) {\n        p.text(lh); \n    }\n    \n    function upTime() {\n        var d = new Date();\n        p.text(d.toLocaleString());\n    }\n\n    if(document.clockInterval){ \n            clearInterval(document.clockInterval);\n            document.clockInterval = null;\n    }\n        \n    document.clockInterval = setInterval(upTime,1000);\n}\n\n</script>","storeOutMessages":false,"fwdInMessages":false,"resendOnRefresh":false,"templateScope":"global","x":800,"y":80,"wires":[[]],"info":"This node was copied from: https://flows.nodered.org/flow/7e4bb517ce3a75add0083642ef03e9d8"},{"id":"8d7919e5.4fcb78","type":"comment","z":"c55192f2.07661","name":"Header clock","info":"","x":790,"y":40,"wires":[]},{"id":"5dbd067.90e66f8","type":"ui_template","z":"17db255d.26490b","group":"2774473f.b18b48","name":"","order":1,"width":0,"height":0,"format":"<script>\n(function() {\n    var count = 0\n    function localDate(msg, scope) {\n        let date = new Date(msg.payload);\n        date = date.toDateString().split(' ').slice(1, 4).join(' ') + ', ' + date.toTimeString().split(' ').slice(0, 1).join(' ');\n        console.log(\"Local date: \" + date);\n\n        scope.send({payload: date});\n    }\n    \n    (function(scope) {\n        scope.$watch('msg', function(msg) {\n            if (msg) {\n                localDate(msg, scope);\n            }\n        });\n    })(scope);\n})();\n</script>","storeOutMessages":false,"fwdInMessages":false,"resendOnRefresh":false,"templateScope":"local","x":340,"y":80,"wires":[["ae3583c8.ebee2"]]},{"id":"ae3583c8.ebee2","type":"debug","z":"17db255d.26490b","name":"","active":true,"console":"false","complete":"false","x":490,"y":80,"wires":[]},{"id":"fb28c94f.2e1738","type":"ui_text","z":"c5669537.d71768","group":"3d2b6406.9676ac","order":1,"width":6,"height":1,"name":"","label":"Device time:","format":"{{msg.payload}}","layout":"row-center","x":750,"y":1760,"wires":[]},{"id":"e13dad7f.4d09d","type":"ui_template","z":"ac9f7f6.a3d058","group":"1b5d511d.35445f","name":"Date and time format","order":4,"width":0,"height":0,"format":"<style>\n    p {\n        padding-bottom: 5px;\n        text-align: justify;\n        line-height: 1.5em;\n    }\n    a { color: #dba100 }\n</style>\n<div>\n    <p>For now, all dates displayed in the dashboard exept the one in the header are in GMT+0.</p>\n</div>\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":180,"y":200,"wires":[[]]},{"id":"33f078a0.8510e8","type":"function","z":"c5669537.d71768","name":"current time","func":"let date = new Date(msg.payload.epoch);\n\ndate = date.toDateString().split(' ').slice(1, 4).join(' ') + ', ' + date.toTimeString().split(' ').slice(0, 1).join(' ');\n\nmsg.payload = date;\n\nreturn msg;","outputs":1,"noerr":0,"x":590,"y":1760,"wires":[["fb28c94f.2e1738"]]},{"id":"98af8a0f.d95ff8","type":"ui_template","z":"ac9f7f6.a3d058","group":"d5f3e2f3.d8e67","name":"Issues","order":4,"width":0,"height":0,"format":"<style>\n    p {\n        padding-bottom: 5px;\n        text-align: justify;\n        line-height: 1.5em;\n    }\n    a { color: #dba100 }\n</style>\n<div>\n    <p>If you have any problem with this GUI, please open an issue on the GitHub project <a href='https://github.com/Hackuarium/bioreactor-docker/'>Hackuarium/bioreactor-docker</a>.</p>\n</div>\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":130,"y":260,"wires":[[]]},{"id":"c809e385.ffc73","type":"comment","z":"c5669537.d71768","name":"\"Sync databases\" group (Advanced)","info":"","x":180,"y":2060,"wires":[]},{"id":"8060a5a9.62d2b8","type":"ui_button","z":"c5669537.d71768","name":"sync","group":"efcdc8c5.89cd48","order":3,"width":4,"height":1,"passthru":false,"label":"Sync databases","tooltip":"","color":"","bgcolor":"","icon":"","payload":"true","payloadType":"bool","topic":"","x":90,"y":2240,"wires":[["ff5d6b15.8fe6c8"]]},{"id":"f5fa5652.fe6d68","type":"influxdb in","z":"c5669537.d71768","influxdb":"4fc05906.0c6828","name":"","query":"","rawOutput":false,"precision":"","retentionPolicy":"","x":430,"y":2240,"wires":[["2bc831c7.20996e"]]},{"id":"ff5d6b15.8fe6c8","type":"function","z":"c5669537.d71768","name":"setQuery","func":"msg.deviceId = msg.payload;\n\nmsg.query = `SELECT max(error) AS max_error, count(distinct(eventId)) AS count_distinct_eventId, median(grWeight) AS median_grWeight, median(id) AS median_id, median(liquidTemp) as median_liquidTemp, median(maxWeight) AS median_maxWeight, median(minWeight) AS median_minWeight, median(pcbTemp) AS median_pcbTemp, median(pidTemp) AS median_pidTemp, min(status) AS min_status, median(targetTemp) AS median_targetTemp, median(weight) AS median_weight, median(weightSinceLast) AS median_weightSinceLast INTO bioreactors_minute.autogen.:MEASUREMENT FROM bioreactors.autogen./.*/ GROUP BY time(1m), *;\n             SELECT max(error) AS max_error, count(distinct(eventId)) AS count_distinct_eventId, median(grWeight) AS median_grWeight, median(id) AS median_id, median(liquidTemp) as median_liquidTemp, median(maxWeight) AS median_maxWeight, median(minWeight) AS median_minWeight, median(pcbTemp) AS median_pcbTemp, median(pidTemp) AS median_pidTemp, min(status) AS min_status, median(targetTemp) AS median_targetTemp, median(weight) AS median_weight, median(weightSinceLast) AS median_weightSinceLast INTO bioreactors_hour.autogen.:MEASUREMENT FROM bioreactors.autogen./.*/ GROUP BY time(1h), *;\n             SELECT max(error) AS max_error, count(distinct(eventId)) AS count_distinct_eventId, median(grWeight) AS median_grWeight, median(id) AS median_id, median(liquidTemp) as median_liquidTemp, median(maxWeight) AS median_maxWeight, median(minWeight) AS median_minWeight, median(pcbTemp) AS median_pcbTemp, median(pidTemp) AS median_pidTemp, min(status) AS min_status, median(targetTemp) AS median_targetTemp, median(weight) AS median_weight, median(weightSinceLast) AS median_weightSinceLast INTO bioreactors_day.autogen.:MEASUREMENT FROM bioreactors.autogen./.*/ GROUP BY time(1d), *;`;\n\nreturn msg;\n","outputs":1,"noerr":0,"x":220,"y":2240,"wires":[["f5fa5652.fe6d68","37b30e7a.f0b992","cf65e82.b151518"]]},{"id":"37b30e7a.f0b992","type":"debug","z":"c5669537.d71768","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"query","targetType":"msg","x":390,"y":2280,"wires":[]},{"id":"2bc831c7.20996e","type":"debug","z":"c5669537.d71768","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":650,"y":2240,"wires":[]},{"id":"d157f63f.cf0ee8","type":"subflow:a4a8ab96.7ec2b8","z":"c5669537.d71768","name":"","env":[],"x":510,"y":2200,"wires":[["9d7ead53.30269"]]},{"id":"9d7ead53.30269","type":"link out","z":"c5669537.d71768","name":"debug","links":["a4876223.503b2"],"x":595,"y":2200,"wires":[]},{"id":"cf65e82.b151518","type":"function","z":"c5669537.d71768","name":"setDebug","func":"msg.payload = 'Syncing continuous queries for past data.';\n\nmsg.debug = {\n    id: 'all db',\n    message: msg.payload,\n    type: 'InfluxDB',\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":2200,"wires":[["d157f63f.cf0ee8","a4e19539.31fcb8"]]},{"id":"a4e19539.31fcb8","type":"ui_toast","z":"c5669537.d71768","position":"top right","displayTime":"5","highlight":"#ad830e","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"Syncing databases","name":"popup","x":510,"y":2160,"wires":[]},{"id":"7fabbf72.88768","type":"ui_template","z":"c5669537.d71768","group":"efcdc8c5.89cd48","name":"text","order":1,"width":0,"height":0,"format":"<style>\n    p {\n        padding-bottom: 5px;\n        text-align: justify;\n        line-height: 1.5em;\n    }\n    a { color: #dba100 }\n</style>\n<div>\n    <p>Pressing the button below allows you to sync the data from the aggregated databases with the raw data database. It is necessary to use it in case you dump logs from a device that was not connected to the GUI for a while.</p>\n</div>\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":90,"y":2140,"wires":[[]]},{"id":"b6171f49.266d2","type":"ui_text","z":"c5669537.d71768","group":"84bd1221.0e2e9","order":6,"width":0,"height":0,"name":"text","label":"Enabling the switch below will update the time of all connected devices every hour.","format":"{{msg.payload}}","layout":"row-spread","x":90,"y":820,"wires":[]},{"id":"a89b2f03.dcc81","type":"change","z":"3a013bf6.47ece4","name":"set query","rules":[{"t":"set","p":"query","pt":"msg","to":"SELECT * FROM logs ORDER BY time DESC LIMIT 100","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":380,"wires":[["93ef6708.7f16d8"]]},{"id":"94b6a550.a4aed8","type":"gate","z":"c55192f2.07661","name":"","controlTopic":"control","defaultState":"closed","openCmd":"open","closeCmd":"close","toggleCmd":"toggle","defaultCmd":"default","persist":false,"x":230,"y":1880,"wires":[["fbe555d1.d65818"]]},{"id":"54fdc0f3.650cc","type":"ui_ui_control","z":"c55192f2.07661","name":"","events":"connect","x":160,"y":2020,"wires":[["9b6a3531.315d18"]]},{"id":"fb86138f.8ec33","type":"change","z":"c55192f2.07661","name":"open","rules":[{"t":"set","p":"payload","pt":"msg","to":"open","tot":"str"},{"t":"set","p":"topic","pt":"msg","to":"control","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":170,"y":1940,"wires":[["94b6a550.a4aed8"]]},{"id":"9b6a3531.315d18","type":"delay","z":"c55192f2.07661","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":160,"y":1980,"wires":[["fb86138f.8ec33"]]},{"id":"bc09ece9.b6094","type":"comment","z":"c55192f2.07661","name":"Nodes used to avoid refreshing charts too many times","info":"See issue #5 of the bioreactor-docker project.","x":300,"y":2060,"wires":[]}]